In [1]:
pip install pandas pymongo

Requirement already satisfied: pandas in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: pymongo in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (4.7.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (from pymongo) (2.6.1)
Requirement already satisfied: six>=1.5 in /Users/cescrosello/miniconda3/envs/EDA_ENV/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from pymongo import MongoClient
from collections import defaultdict

In [10]:

# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Nacho:LzylG96aBvMZLmwA@cluster0.vcye9c1.mongodb.net/"

In [4]:
df = pd.read_csv("data/customer_shopping_clean.csv")
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,year,month
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon,2022,8
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,2021,12
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity,2021,11
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,2021,5
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,2021,10

In [5]:

# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Nacho:LzylG96aBvMZLmwA@cluster0.vcye9c1.mongodb.net/"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Taller"]
collection = db["Full y Data"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = df.to_dict(orient="records")

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

In [11]:

# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Nacho:LzylG96aBvMZLmwA@cluster0.vcye9c1.mongodb.net/"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Taller"]
collection = db["Full y Data"]

# Obtener un número representativo de documentos para inferir el esquema
sample_size = 100
cursor = collection.find().limit(sample_size)

# Diccionario para almacenar los tipos de datos
column_types = defaultdict(set)

# Analizar los documentos para inferir los tipos de datos
for doc in cursor:
    for key, value in doc.items():
        column_types[key].add(type(value).__name__)

# Mostrar los tipos de datos de cada columna
for column, types in column_types.items():
    print(f"Columna '{column}' tiene los siguientes tipos de datos: {types}")

# Cerrar la conexión
client.close()

Columna '_id' tiene los siguientes tipos de datos: {'ObjectId'}
Columna 'invoice_no' tiene los siguientes tipos de datos: {'str'}
Columna 'customer_id' tiene los siguientes tipos de datos: {'str'}
Columna 'gender' tiene los siguientes tipos de datos: {'str'}
Columna 'age' tiene los siguientes tipos de datos: {'int'}
Columna 'category' tiene los siguientes tipos de datos: {'str'}
Columna 'quantity' tiene los siguientes tipos de datos: {'int'}
Columna 'price' tiene los siguientes tipos de datos: {'float'}
Columna 'payment_method' tiene los siguientes tipos de datos: {'str'}
Columna 'invoice_date' tiene los siguientes tipos de datos: {'str'}
Columna 'shopping_mall' tiene los siguientes tipos de datos: {'str'}
Columna 'year' tiene los siguientes tipos de datos: {'int'}
Columna 'month' tiene los siguientes tipos de datos: {'int'}