In [6]:
pip install Faker

Collecting Faker
  Downloading Faker-26.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\victor\miniconda3\envs\api_env\lib\site-packages (from Faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\victor\miniconda3\envs\api_env\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Downloading Faker-26.0.0-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 991.0 kB/s eta 0:00:02
   ----- ---------------------------------- 0.2/1.8 MB 2.8 MB/s eta 0:00:01
   ------------- -------------------------- 0.6/1.8 MB 4.8 MB/s eta 0:00:01
   ------------------------------ --------- 1.4/1.8 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 8.8 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-26.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from pymongo import MongoClient
from collections import defaultdict

In [29]:

# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

In [68]:
# Datos de la tabla resultante
data_events = {
    'speaker_name': [
        'Elena Martín', 'Juan Moreno', 'Lucia Sánchez', 'Miguel Alvarez', 'Eva Verdejo', 
        'Adrian Sánchez', 'David Hernandez', 'Sara Tornell', 'Laura Tornell', 'Adrian Martín', 
        'Alejandro Rodrguez', 'Sara Alvarez', 'Marina Gamarra', 'Miguel Alonso', 'Manuel Martinez', 
        'Eva Alvarez', 'Jairo Rodrguez', 'Marina Martinez', 'Marina Sánchez', 'David Contreras', 
        'Pablo Martín', 'Manuel Ruiz', 'Elena Romero', 'Christian Moreno', 'Jairo Martín'
    ],
     '_user_id': [
        ["6681269b23dc5dfced3d25d2"], '6681269b23dc5dfced3d25d3', '6681269b23dc5dfced3d25d4', '6681269b23dc5dfced3d25d5', '6681269b23dc5dfced3d25d6', 
        '6681269b23dc5dfced3d25d7', '6681269b23dc5dfced3d25d8', '6681269b23dc5dfced3d25d9', '6681269b23dc5dfced3d25da', '6681269b23dc5dfced3d25db', 
        '6681269b23dc5dfced3d25dc', '6681269b23dc5dfced3d25dd', '6681269b23dc5dfced3d25de', '6681269b23dc5dfced3d25df', '6681269b23dc5dfced3d25e0', 
        '6681269b23dc5dfced3d25e1', '6681269b23dc5dfced3d25e2', '6681269b23dc5dfced3d25e3', '6681269b23dc5dfced3d25e4', '6681269b23dc5dfced3d25e5', 
        '6681269b23dc5dfced3d25e6', '6681269b23dc5dfced3d25e7', '6681269b23dc5dfced3d25e8', '6681269b23dc5dfced3d25e9', '6681269b23dc5dfced3d25ea'
    ],
    'speaker_company': [
        'Cisco Systems', 'Tecnología Educativa', 'Campus Virtual', 'Aprendizaje Interactivo', 'HP Inc', 
        'LG Corporation', 'Educación a Distancia', 'IBM', 'E-learning España', 'Apple Inc', 
        'LG Corporation', 'E-learning España', 'Educación Online', 'Sony Corporation', 'Tecnología Educativa', 
        'Educación a Distancia', 'Plataforma Educativa', 'IBM', 'Huawei Technologies', 'IBM', 
        'Sony Corporation', 'Formación Digital', 'Dell Technologies', 'Campus Virtual', 'Plataforma Educativa'
    ],
    'id_supplier': [
        '6681212c23dc5dfced3d25c9', '6681212c23dc5dfced3d25bb', '6681212c23dc5dfced3d25c0', '6681212c23dc5dfced3d25be', '6681212c23dc5dfced3d25c7', 
        '6681212c23dc5dfced3d25cc', '6681212c23dc5dfced3d25bc', '6681212c23dc5dfced3d25c8', '6681212c23dc5dfced3d25c3', '6681212c23dc5dfced3d25ce', 
        '6681212c23dc5dfced3d25cc', '6681212c23dc5dfced3d25c3', '6681212c23dc5dfced3d25bf', '6681212c23dc5dfced3d25cb', '6681212c23dc5dfced3d25bb', 
        '6681212c23dc5dfced3d25bc', '6681212c23dc5dfced3d25bd', '6681212c23dc5dfced3d25ce', '6681212c23dc5dfced3d25bf', '6681212c23dc5dfced3d25ca', 
        '6681212c23dc5dfced3d25c0', '6681212c23dc5dfced3d25cd', '6681212c23dc5dfced3d25d0', '6681212c23dc5dfced3d25c6', '6681212c23dc5dfced3d25bd'
    ],
    'desc_event': [
        'ACTO DE APERTURA E-LEARNING EXPERIENCE 2024', 'TENDENCIAS Y PROSPECTIVA EN E-LEARNING PARA UN FUTURO SOSTENIBLE', 
        'DERRIBEMOS BARRERAS EN LOS EXÁMENES Y CONTENIDOS EDUCATIVOS CON TECNOLOGÍA DE VOZ', 'OPEN LMS SHOWCASE: LO NUEVO Y LO QUE VIENE', 
        'REDESCUBRIENDO LA EDUCACIÓN. UNA PROPUESTA DE LA UOC', 'CONECTANDO EL APRENDIZAJE: EMPODERAMIENTO Y PRÁCTICAS INNOVADORAS EN LA EDUCACIÓN', 
        'TRANSFORMANDO LA FORMACIÓN EN EL SECTOR BANCARIO', 'FORMACIÓN CON IMPACTO: LOGRAR RESULTADOS EN UN MUNDO CAMBIANTE', 
        'IA GENERATIVA Y CULTURA DE INNOVACIÓN', 'EL PODER DE LAS EVALUACIONES DIGITALES', 
        'LOS TUTORES EN LÍNEA: HÉROES INVISIBLES DEL TRABAJO ACADÉMICO', 'IMPACTO DEL USO DE LA INTELIGENCIA ARTIFICIAL EN LMS', 
        'TRANSFORMANDO LA EXPERIENCIA DEL USUARIO: EL VALOR DEL CAMPUS VIRTUAL', 'ABRAZANDO LA DIVERSIDAD EN LA IMPLEMENTACIÓN DE SOLUCIONES E-LEARNING', 
        'LOS PILARES DEL ÉXITO DE LA FORMACIÓN ASÍNCRONA', 'ECOSISTEMAS DIGITALES: EL PODER DE LAS API Y LA INTELIGENCIA ARTIFICIAL', 
        'HACIA UNA NUEVA ARQUITECTURA EMPRESARIAL EN LAS UNIVERSIDADES', 'LO QUE NO SE MIDE NO SE PUEDE MEJORAR', 
        'OPTIMIZANDO PROCESOS: ESTRATEGIAS Y DESAFÍOS EN MOODLE', 'TRANS-FORMACIÓN DE EQUIPOS COMERCIALES: CONVERSIÓN DIGITAL', 
        'ACCESIBILIDAD DE CONTENIDOS DIGITALES: ESTRATEGIAS E IMPACTO', 'LA SEMIPRESENCIALIDAD EN ESTUDIOS SUPERIORES: RETOS Y OPORTUNIDADES', 
        'CONOCIENDO LVIS, LA PLATAFORMA DE AUTOMATIZACIÓN DE VÍDEO', '¿POR QUÉ ES URGENTE FORMARSE EN INTELIGENCIA ARTIFICIAL?', 
        'MEJORA DE LOS PROCESOS DE DISEÑO Y PRODUCCIÓN MULTIMEDIA EN LA UNIVERSIDAD'
    ],
    'date': ['2024-05-23'] * 25,
    'hour': ['10:30', '10:45', '11:15', '11:45', '12:15', '12:45', '13:15', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30',
             '12:45', '13:15', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30'],
    'interest': [
        ["E-learning", "Educación", "Innovación"], ["E-learning", "Tendencias", "Educación"], ["Educación", "STEM", "Accesibilidad"],
        ["LMS", "Innovación", "Tecnología"], ["Educación", "Inteligencia Artificial", "Datos"], ["Educación", "Formación de Profesores", "TIC"],
        ["Formación", "Gamificación", "Sector Bancario"], ["Formación", "Resultados", "Cambio"], ["IA Generativa", "Innovación", "Cultura"],
        ["Evaluaciones Digitales", "Tecnología", "Educación"], ["Tutores en Línea", "Éxito Estudiantil", "Educación"], ["Inteligencia Artificial", "LMS", "Accesibilidad"],
        ["Experiencia del Usuario", "Campus Virtual", "Educación"], ["Diversidad", "E-learning", "Tecnología"], ["Formación Asíncrona", "Educación", "Tecnología"],
        ["Ecosistemas Digitales", "API", "Inteligencia Artificial"], ["Arquitectura Empresarial", "Universidades", "Educación"], ["Medición", "Mejora", "Consultoría"],
        ["Optimización de Procesos", "Moodle", "Migración"], ["Formación", "Equipos Comerciales", "Cambio"], ["Accesibilidad", "Contenidos Digitales", "Impacto"],
        ["Semipresencialidad", "Estudios Superiores", "Tecnología"], ["Automatización", "Vídeo", "Tecnología"], ["Inteligencia Artificial", "Formación", "Educación"],
        ["Diseño Multimedia", "Producción", "Inteligencia Artificial"]
    ],
  
}

# Crear el DataFrame
df_events = pd.DataFrame(data_events)

# Mostrar el DataFrame resultante
df_events

,speaker_name,_user_id,speaker_company,id_supplier,desc_event,date,hour,interest
0,Elena Martín,[6681269b23dc5dfced3d25d2],Cisco Systems,6681212c23dc5dfced3d25c9,ACTO DE APERTURA E-LEARNING EXPERIENCE 2024,2024-05-23,10:30,"[E-learning, Educación, Innovación]"
1,Juan Moreno,6681269b23dc5dfced3d25d3,Tecnología Educativa,6681212c23dc5dfced3d25bb,TENDENCIAS Y PROSPECTIVA EN E-LEARNING PARA UN...,2024-05-23,10:45,"[E-learning, Tendencias, Educación]"
2,Lucia Sánchez,6681269b23dc5dfced3d25d4,Campus Virtual,6681212c23dc5dfced3d25c0,DERRIBEMOS BARRERAS EN LOS EXÁMENES Y CONTENID...,2024-05-23,11:15,"[Educación, STEM, Accesibilidad]"
3,Miguel Alvarez,6681269b23dc5dfced3d25d5,Aprendizaje Interactivo,6681212c23dc5dfced3d25be,OPEN LMS SHOWCASE: LO NUEVO Y LO QUE VIENE,2024-05-23,11:45,"[LMS, Innovación, Tecnología]"
4,Eva Verdejo,6681269b23dc5dfced3d25d6,HP Inc,6681212c23dc5dfced3d25c7,REDESCUBRIENDO LA EDUCACIÓN. UNA PROPUESTA DE ...,2024-05-23,12:15,"[Educación, Inteligencia Artificial, Datos]"
5,Adrian Sánchez,6681269b23dc5dfced3d25d7,LG Corporation,6681212c23dc5dfced3d25cc,CONECTANDO EL APRENDIZAJE: EMPODERAMIENTO Y PR...,2024-05-23,12:45,"[Educación, Formación de Profesores, TIC]"
6,David Hernandez,6681269b23dc5dfced3d25d8,Educación a Distancia,6681212c23dc5dfced3d25bc,TRANSFORMANDO LA FORMACIÓN EN EL SECTOR BANCARIO,2024-05-23,13:15,"[Formación, Gamificación, Sector Bancario]"
7,Sara Tornell,6681269b23dc5dfced3d25d9,IBM,6681212c23dc5dfced3d25c8,FORMACIÓN CON IMPACTO: LOGRAR RESULTADOS EN UN...,2024-05-23,16:00,"[Formación, Resultados, Cambio]"
8,Laura Tornell,6681269b23dc5dfced3d25da,E-learning España,6681212c23dc5dfced3d25c3,IA GENERATIVA Y CULTURA DE INNOVACIÓN,2024-05-23,16:30,"[IA Generativa, Innovación, Cultura]"
9,Adrian Martín,6681269b23dc5dfced3d25db,Apple Inc,6681212c23dc5dfced3d25ce,EL PODER DE LAS EVALUACIONES DIGITALES,2024-05-23,17:00,"[Evaluaciones Digitales, Tecnología, Educación]"
10,Alejandro Rodrguez,6681269b23dc5dfced3d25dc,LG Corporation,6681212c23dc5dfced3d25cc,LOS TUTORES EN LÍNEA: HÉROES INVISIBLES DEL TR...,2024-05-23,17:30,"[Tutores en Línea, Éxito Estudiantil, Educación]"
11,Sara Alvarez,6681269b23dc5dfced3d25dd,E-learning España,6681212c23dc5dfced3d25c3,IMPACTO DEL USO DE LA INTELIGENCIA ARTIFICIAL ...,2024-05-23,18:00,"[Inteligencia Artificial, LMS, Accesibilidad]"
12,Marina Gamarra,6681269b23dc5dfced3d25de,Educación Online,6681212c23dc5dfced3d25bf,TRANSFORMANDO LA EXPERIENCIA DEL USUARIO: EL V...,2024-05-23,18:30,"[Experiencia del Usuario, Campus Virtual, Educ..."
13,Miguel Alonso,6681269b23dc5dfced3d25df,Sony Corporation,6681212c23dc5dfced3d25cb,ABRAZANDO LA DIVERSIDAD EN LA IMPLEMENTACIÓN D...,2024-05-23,19:00,"[Diversidad, E-learning, Tecnología]"
14,Manuel Martinez,6681269b23dc5dfced3d25e0,Tecnología Educativa,6681212c23dc5dfced3d25bb,LOS PILARES DEL ÉXITO DE LA FORMACIÓN ASÍNCRONA,2024-05-23,19:30,"[Formación Asíncrona, Educación, Tecnología]"
15,Eva Alvarez,6681269b23dc5dfced3d25e1,Educación a Distancia,6681212c23dc5dfced3d25bc,ECOSISTEMAS DIGITALES: EL PODER DE LAS API Y L...,2024-05-23,12:45,"[Ecosistemas Digitales, API, Inteligencia Arti..."
16,Jairo Rodrguez,6681269b23dc5dfced3d25e2,Plataforma Educativa,6681212c23dc5dfced3d25bd,HACIA UNA NUEVA ARQUITECTURA EMPRESARIAL EN LA...,2024-05-23,13:15,"[Arquitectura Empresarial, Universidades, Educ..."
17,Marina Martinez,6681269b23dc5dfced3d25e3,IBM,6681212c23dc5dfced3d25ce,LO QUE NO SE MIDE NO SE PUEDE MEJORAR,2024-05-23,16:00,"[Medición, Mejora, Consultoría]"
18,Marina Sánchez,6681269b23dc5dfced3d25e4,Huawei Technologies,6681212c23dc5dfced3d25bf,OPTIMIZANDO PROCESOS: ESTRATEGIAS Y DESAFÍOS E...,2024-05-23,16:30,"[Optimización de Procesos, Moodle, Migración]"
19,David Contreras,6681269b23dc5dfced3d25e5,IBM,6681212c23dc5dfced3d25ca,TRANS-FORMACIÓN DE EQUIPOS COMERCIALES: CONVER...,2024-05-23,17:00,"[Formación, Equipos Comerciales, Cambio]"
20,Pablo Martín,6681269b23dc5dfced3d25e6,Sony Corporation,6681212c23dc5dfced3d25c0,ACCESIBILIDAD DE CONTENIDOS DIGITALES: ESTRATE...,2024-05-23,17:30,"[Accesibilidad, Contenidos Digitales, Impacto]"
21,Manuel Ruiz,6681269b23dc5dfced3d25e7,Formación Digital,6681212c23dc5dfced3d25cd,LA SEMIPRESENCIALIDAD EN ESTUDIOS SUPERIORES: ...,2024-05-23,18:00,"[Semipresencialidad, Estudios Superiores, Tecn..."
22,Elena Romero,6681269b23dc5dfced3d25e8,Dell Technologies,6681212c23dc5dfced3d25d0,"CONOCIENDO LVIS, LA PLATAFORMA DE AUTOMATIZACI...",2024-05-23,18:30,"[Automatización, Vídeo, Tecnología]"
23,Christian Moreno,6681269b23dc5dfced3d25e9,Campus Virtual,6681212c23dc5dfced3d25c6,¿POR QUÉ ES URGENTE FORMARSE EN INTELIGENCIA A...,2024-05-23,19:00,"[Inteligencia Artificial, Formación, Educación]"
24,Jairo Martín,6681269b23dc5dfced3d25ea,Plataforma Educativa,6681212c23dc5dfced3d25bd,MEJORA DE LOS PROCESOS DE DISEÑO Y PRODUCCIÓN ...,2024-05-23,19:30,"[Diseño Multimedia, Producción, Inteligencia A..."

# NO DEBEMOS USAR CSVs COMO BASE, PUES ANULA LOS OBJECTID DE LAS TABLAS DE MONGO

In [11]:
# df_meetings = pd.read_csv("../data/MEETINGS.csv")
# df_meetings.head()

   _id  id_collab  id_user_collab  id_user        date   hour  feedback  table
0    1          1             283      148  2024-07-04  09:00         1     10
1    2          1             283      183  2024-07-04  09:45         4     23
2    3          1             266      211  2024-07-04  10:30         3      2
3    4          1             294      108  2024-07-04  11:15         3     30
4    5          1             287      131  2024-07-04  12:00         5      7

In [45]:
# df_suppliers = pd.read_csv("../data/SUPPLIERS.csv", sep=",")
# df_suppliers.head()

,_id,Name,CIF,Street,City,Country,Prefix,Phone,Email,_user_id
0,6681212c23dc5dfced3d25bb,Tecnología Educativa,Wty88980932,26461 Michael Wall Apt. 809,Madrid,Spain,34,535 476 5080,contacto@tecnologiaeducativa.com,"[ObjectId('6681269b23dc5dfced3d25d2'), ObjectI..."
1,6681212c23dc5dfced3d25bc,Educación a Distancia,Pjh72138923,51623 Wendy Garden,Barcelona,Spain,34,245 419 6636,info@educacionadistancia.com,"[ObjectId('6681269b23dc5dfced3d25d3'), ObjectI..."
2,6681212c23dc5dfced3d25bd,Clases en Línea,hrE60221766,284 Wallace Canyon Apt. 290,Valencia,Spain,34,817 242 6964,soporte@clasesenlinea.com,[ObjectId('6681269b23dc5dfced3d260b')]
3,6681212c23dc5dfced3d25be,Aprendizaje Interactivo,Fqk18965674,4023 Romero Grove,Sevilla,Spain,34,549 177 5114,info@aprendizajeinteractivo.com,"[ObjectId('6681269b23dc5dfced3d25d4'), ObjectI..."
4,6681212c23dc5dfced3d25bf,Educación Online,fOL42178579,9977 Ian Junctions,Zaragoza,Spain,34,038 096 2294,contacto@educaciononline.com,"[ObjectId('6681269b23dc5dfced3d25d5'), ObjectI..."

In [157]:
# places = {"place_name": ["Sala Principal-La Font Blanca","Sala Workshops-La Alcazaba"],
#              "capacity": [150,80]}
# df_places = pd.DataFrame(places)
# df_places

                      place_name  capacity
0  Sala Principal-La Font Blanca       150
1     Sala Workshops-La Alcazaba        80

In [36]:
# df_users = pd.read_csv("../data/USERS.csv")
# df_users.head()

,name,surname,email,password,company,id_supplier
0,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9
1,Juan,Moreno,juan.moreno@tecnologíaeducativa.com,AbVoNDo^,Tecnología Educativa,6681212c23dc5dfced3d25bb
2,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0
3,Miguel,Alvarez,miguel.alvarez@aprendizajeinteractivo.com,"""=D9g(%;",Aprendizaje Interactivo,6681212c23dc5dfced3d25be
4,Eva,Verdejo,eva.verdejo@hpinc.com,a<hrt8OY,HP Inc,6681212c23dc5dfced3d25c7

In [21]:
df_users.head().T

,0,1,2,3,4
_id,1,2,3,4,5
name,Carlos,Jose,Maria,Luis,Juan
surname,Gómez,Díaz,Pérez,Gómez,Sánchez
email,user1@example.com,user2@example.com,user3@example.com,user4@example.com,user5@example.com
password,pass1,pass2,pass3,pass4,pass5
tokens,NaN,NaN,NaN,NaN,NaN
createdAt,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01
updatedAt,2022-01-01,2022-01-01,2022-01-01,2022-01-01,2022-01-01
__v,0,0,0,0,0
confirmed,Yes,Yes,Yes,Yes,Yes
company,Emprendedor E-learning,Colegio B,Colegio B,Colegio B,Colegio B
position,Facilitador de Talleres,Gestor de Comunidad,Responsable de Calidad,Diseñador Instruccional,Analista de Datos Educativos
phone_prefx,34,34,34,34,34
phone_number,615786083,629613106,602716833,642871128,673132819
address,Calle G 132,Calle B 4,Calle J 195,Calle A 19,Calle B 136
zip_code,34144,96979,89142,20117,75320
city,Valencia,Valencia,Valencia,Barcelona,Valencia
country,España,España,España,España,España
user_type,Assistant,Assistant,Assistant,Assistant,Assistant
url_linkedin,https://linkedin.com/in/user1,https://linkedin.com/in/user2,https://linkedin.com/in/user3,https://linkedin.com/in/user4,https://linkedin.com/in/user5
allergies,"['Sésamo', 'Moluscos']","['Lácteos', 'Pescado', 'Azucar']",['Moluscos'],[],[]
interests,['Softskills'],['Tecnología'],['Negocios'],"['Negocios', 'Marketing Digital']","['Tecnología', 'Formación', 'Educación', 'Gest..."
food_preferences,vegano,vegetariano,vegetariano,vegano,vegetariano

## Subida de CSV a BD Mongo

### 1. Churro a Mongo y consulta de Tablas en la BD de SAMOO

In [2]:
# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos
db = client["Samoo"]

# Obtener todas las colecciones en la base de datos
collections = db.list_collection_names()

# Contar y mostrar el número de documentos en cada colección
print("Número de documentos en cada colección de la base de datos 'Samoo':")
for collection_name in collections:
    collection = db[collection_name]
    num_documents = collection.count_documents({})
    print(f"Colección '{collection_name}': {num_documents} documentos")

# Cerrar la conexión
client.close()

Número de documentos en cada colección de la base de datos 'Samoo':
Colección 'events': 23 documentos
Colección 'suppliers': 20 documentos
Colección 'users': 300 documentos
Colección 'meetings': 540 documentos
Colección 'places': 2 documentos

--> user aparece como 308 porque teniamos subidos 8 y le hemos añadido 300

### Borramos los datos de users y volvemos a cargos los 300 del csv

In [37]:
""" BASE DE DATOS USERS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["users"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = df_users.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

### comprobamos de nuevo la tabla users cuantas entradas tiene:

In [26]:
# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos
db = client["Samoo"]

# Obtener todas las colecciones en la base de datos
collections = db.list_collection_names()

# Contar y mostrar el número de documentos en cada colección
print("Número de documentos en cada colección de la base de datos 'Samoo':")
for collection_name in collections:
    collection = db[collection_name]
    num_documents = collection.count_documents({})
    print(f"Colección '{collection_name}': {num_documents} documentos")

# Cerrar la conexión
client.close()

Número de documentos en cada colección de la base de datos 'Samoo':
Colección 'events': 3 documentos
Colección 'meetings': 6 documentos
Colección 'supliers': 6 documentos
Colección 'collabs': 6 documentos
Colección 'users': 300 documentos
Colección 'places': 1 documentos

--> OK, ya hemos actualizado y contrastado como reemplazar los datos de una BD (users)

## 2. ACTUALIZACION DE TODAS LAS TABLAS CON LOS NUEVOS DATOS

In [158]:
"""BORRADO Y ACTUALIZACION DE LA TABLA PLACES"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["places"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = df_places.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

In [69]:
"""BORRADO Y ACTUALIZACION DE LA TABLA EVENTS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["events"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = df_events.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

In [31]:
"""BORRADO Y ACTUALIZACION DE LA TABLA MEETINGS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["meetings"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = df_meetings.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

In [46]:
"""BORRADO Y ACTUALIZACION DE LA TABLA SUPPLIERS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["suppliers"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = dff_suppliers.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

YA TENEMOS TODAS LAS TABLAS ACTUALIZADAS EN LA BD

COMPROBAMOS DE NUEVO EL RECUENTO DE MUESTRAS EN CADA TABLA:

In [27]:
# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos
db = client["Samoo"]

# Obtener todas las colecciones en la base de datos
collections = db.list_collection_names()

# Contar y mostrar el número de documentos en cada colección
print("Número de documentos en cada colección de la base de datos 'Samoo':")
for collection_name in collections:
    collection = db[collection_name]
    num_documents = collection.count_documents({})
    print(f"Colección '{collection_name}': {num_documents} documentos")

# Cerrar la conexión
client.close()

Número de documentos en cada colección de la base de datos 'Samoo':
Colección 'events': 39 documentos
Colección 'suppliers': 20 documentos
Colección 'users': 176 documentos
Colección 'meetings': 543 documentos
Colección 'places': 2 documentos

-> SUPLIERS Y COLLABS DEBEMOS DE BORRARLAS, LO HAREMOS DIRECTAMENTE DESDE LA BBDD, NO SIN ANTES CONSULTAR CON FULL  STACK SI LES PUEDE AFECTAR

# A PARTIR DE AQUI CODIGO ANTIGUO

In [ ]:
db = client["Samoo"]
collection = db["collabs"]
dat = list(collection.find())
dff_collabs = pd.DataFrame(dat)
dff_collabs

## ACTUALIZAMOS Y CERRAMOS LA TABLA USERS

In [3]:
""" DESCARGAMOS TABLA USERS"""

from pymongo import MongoClient
# import pandas as pd

# Definir la función para descargar la colección desde MongoDB
def download_collection_from_mongodb(uri, db_name, collection_name):
    # Conectar a MongoDB
    client = MongoClient(uri)
    try:
        # Seleccionar la base de datos y la colección
        db = client[db_name]
        collection = db[collection_name]

        # Descargar los datos de la colección
        data = list(collection.find())

        # Convertir los datos a un DataFrame de pandas
        df = pd.DataFrame(data)
    finally:
        # Cerrar la conexión
        client.close()
    
    return df

# Datos de conexión a MongoDB
uri = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"  # Cambia la URL según sea necesario
db_name = "Samoo"  # Cambia 'nombre_de_la_base_de_datos' por el nombre de tu base de datos
collection_name = "users"  # Cambia 'nombre_de_la_coleccion' por el nombre de tu colección

# Descargar la colección y convertirla en un DataFrame
dff_users = download_collection_from_mongodb(uri, db_name, collection_name)

# Mostrar el DataFrame
dff_users

# Opcional: Guardar el DataFrame en un archivo CSV
# df.to_csv('nombre_del_archivo.csv', index=False)  # Cambia 'nombre_del_archivo.csv' por el nombre deseado

,_id,name,surname,email,password,company,id_supplier,tokens,url_linkedin,completed,avatar_url,position,allergies,food_prefences,interests
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,,,,,Especialista en Marketing de E-learning,[Frutos secos],Vegano,"[Marketing Digital, Formación, Agile]"
1,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,,,,,Asesor Pedagógico,[Huevos],Vegano,"[Educación, Tecnología, Diseño, Marketing Digi..."
2,6681269b23dc5dfced3d25d7,Adrian,Sánchez,adrian.sánchez@lgcorporation.com,^cUjH@{),LG Corporation,6681212c23dc5dfced3d25cc,,,,,Gestor de Comunidad,[],Vegano,"[Diseño, Agile, Educación]"
3,6681269b23dc5dfced3d25de,Marina,Gamarra,marina.gamarra@educaciónonline.com,KzyzW@&p,Educación Online,6681212c23dc5dfced3d25bf,,,,,Responsable de Calidad,[Gluten],Carnívoro,"[Negocios, Tecnología, Agile, Marketing Digita..."
4,6681269b23dc5dfced3d25d9,Sara,Tornell,sara.tornell@ibm.com,@g/+G4#0,IBM,6681212c23dc5dfced3d25c8,,,,,Director de Innovación,[Gluten],Vegetariano,"[Softskills, Emprendimiento, Marketing Digital..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,6681269b23dc5dfced3d26fa,Christian,Martinez,christian.martinez@learnify.com,v=CgA$0Q,Learnify,NaN,,,,,Director de Innovación,[Frutos secos],Vegetariano,"[Negocios, Tecnología, Agile]"
296,6681269b23dc5dfced3d26fb,Miguel,Rodrguez,miguel.rodrguez@teched.com,2#4Mo8C:,TechEd,NaN,,,,,Facilitador de Talleres,[Huevos],Vegano,"[Agile, Emprendimiento, Negocios, Softskills, ..."
297,6681269b23dc5dfced3d26fc,Christian,Hernandez,christian.hernandez@innovativelearning.com,nqS/TOZ-,Innovative Learning,NaN,,,,,Coordinador de Cursos,[Lácteos],Vegetariano,"[Gestión de Proyectos, Marketing Digital, Empr..."
298,6681269b23dc5dfced3d26fd,Adrian,Rodrguez,adrian.rodrguez@innovativelearning.com,L0\;mRN&,Innovative Learning,NaN,,,,,Director de Formación,[],Vegano,"[Tecnología, Marketing Digital, Educación, Neg..."
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,Consultor de E-learning,[],Carnívoro,"[Salud y Bienestar, Emprendimiento, Creativida..."

In [44]:
len(dff_users["company"][0:60].unique())

20

In [4]:
dff_users["confirmed"] = ""

In [7]:
import pandas as pd
import numpy as np
from faker import Faker

# Crear una instancia de Faker
fake = Faker('es_ES')

# Número de filas
num_rows = 300

# Generar fechas de cumpleaños entre 1970 y 1995
birthdays = [fake.date_of_birth(minimum_age=25, maximum_age=50).strftime('%Y-%m-%d') for _ in range(num_rows)]

# Generar prefijos de teléfono
phone_prefixes = ['+34'] * num_rows

# Generar números de teléfono con formato correcto
phone_numbers = [fake.phone_number() for _ in range(num_rows)]

# Generar nombres de calles y avenidas reales de España
addresses = [fake.street_address() for _ in range(num_rows)]

# Generar códigos postales reales de España
zip_codes = [fake.postcode() for _ in range(num_rows)]

# Generar nombres de ciudades de España
cities = [fake.city() for _ in range(num_rows)]

# Generar país (España en todas las celdas)
countries = ['España'] * num_rows

# Crear el DataFrame
df = pd.DataFrame({
    'birthday': birthdays,
    'phone_prefix': phone_prefixes,
    'phone_number': phone_numbers,
    'address': addresses,
    'zip_code': zip_codes,
    'city': cities,
    'country': countries
})

# Mostrar las primeras filas del DataFrame
df
# Guardar el DataFrame en un archivo CSV
# df.to_csv('fake_data.csv', index=False)

,birthday,phone_prefix,phone_number,address,zip_code,city,country
0,1986-04-26,+34,+34945 181 406,Alameda de Bruno Casas 537,47151,Cantabria,España
1,1985-03-06,+34,+34914 360 534,C. de Fabricio Ferreras 49 Apt. 44,05338,Cáceres,España
2,1974-03-31,+34,+34922 060 084,Via Vito Aguado 77 Puerta 2,02522,Ciudad,España
3,1988-01-18,+34,+34843 40 56 06,Acceso de Jenny Vaquero 36,26647,Vizcaya,España
4,1985-06-04,+34,+34984603231,Ronda Gabriela Sanchez 864 Puerta 1,51836,Teruel,España
...,...,...,...,...,...,...,...
295,1981-06-08,+34,+34821 25 82 68,Calle de Amaro Alcaraz 6,02814,Cáceres,España
296,1988-07-30,+34,+34976 953 908,Cañada de Feliciano Luján 3,28494,Girona,España
297,1991-11-12,+34,+34 985202015,Alameda de Florentino Ortuño 22,48203,Segovia,España
298,1984-08-19,+34,+34 976481107,Cañada Rafa Mir 45,22440,Tarragona,España
299,1993-03-26,+34,+34971 629 306,Callejón de Morena Ochoa 44 Puerta 8,51397,Segovia,España

In [12]:
dff_users = pd.concat([dff_users, df],axis=1)
dff_users

,_id,name,surname,email,password,company,id_supplier,tokens,url_linkedin,completed,...,food_prefences,interests,confirmed,birthday,phone_prefix,phone_number,address,zip_code,city,country
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,,,,...,Vegano,"[Marketing Digital, Formación, Agile]",,1986-04-26,+34,+34945 181 406,Alameda de Bruno Casas 537,47151,Cantabria,España
1,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,,,,...,Vegano,"[Educación, Tecnología, Diseño, Marketing Digi...",,1985-03-06,+34,+34914 360 534,C. de Fabricio Ferreras 49 Apt. 44,05338,Cáceres,España
2,6681269b23dc5dfced3d25d7,Adrian,Sánchez,adrian.sánchez@lgcorporation.com,^cUjH@{),LG Corporation,6681212c23dc5dfced3d25cc,,,,...,Vegano,"[Diseño, Agile, Educación]",,1974-03-31,+34,+34922 060 084,Via Vito Aguado 77 Puerta 2,02522,Ciudad,España
3,6681269b23dc5dfced3d25de,Marina,Gamarra,marina.gamarra@educaciónonline.com,KzyzW@&p,Educación Online,6681212c23dc5dfced3d25bf,,,,...,Carnívoro,"[Negocios, Tecnología, Agile, Marketing Digita...",,1988-01-18,+34,+34843 40 56 06,Acceso de Jenny Vaquero 36,26647,Vizcaya,España
4,6681269b23dc5dfced3d25d9,Sara,Tornell,sara.tornell@ibm.com,@g/+G4#0,IBM,6681212c23dc5dfced3d25c8,,,,...,Vegetariano,"[Softskills, Emprendimiento, Marketing Digital...",,1985-06-04,+34,+34984603231,Ronda Gabriela Sanchez 864 Puerta 1,51836,Teruel,España
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,6681269b23dc5dfced3d26fa,Christian,Martinez,christian.martinez@learnify.com,v=CgA$0Q,Learnify,NaN,,,,...,Vegetariano,"[Negocios, Tecnología, Agile]",,1981-06-08,+34,+34821 25 82 68,Calle de Amaro Alcaraz 6,02814,Cáceres,España
296,6681269b23dc5dfced3d26fb,Miguel,Rodrguez,miguel.rodrguez@teched.com,2#4Mo8C:,TechEd,NaN,,,,...,Vegano,"[Agile, Emprendimiento, Negocios, Softskills, ...",,1988-07-30,+34,+34976 953 908,Cañada de Feliciano Luján 3,28494,Girona,España
297,6681269b23dc5dfced3d26fc,Christian,Hernandez,christian.hernandez@innovativelearning.com,nqS/TOZ-,Innovative Learning,NaN,,,,...,Vegetariano,"[Gestión de Proyectos, Marketing Digital, Empr...",,1991-11-12,+34,+34 985202015,Alameda de Florentino Ortuño 22,48203,Segovia,España
298,6681269b23dc5dfced3d26fd,Adrian,Rodrguez,adrian.rodrguez@innovativelearning.com,L0\;mRN&,Innovative Learning,NaN,,,,...,Vegano,"[Tecnología, Marketing Digital, Educación, Neg...",,1984-08-19,+34,+34 976481107,Cañada Rafa Mir 45,22440,Tarragona,España
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,...,Carnívoro,"[Salud y Bienestar, Emprendimiento, Creativida...",,1993-03-26,+34,+34971 629 306,Callejón de Morena Ochoa 44 Puerta 8,51397,Segovia,España

In [7]:
"""DESCARGAMOS TABLA COLLABS"""

from pymongo import MongoClient
# import pandas as pd

# Definir la función para descargar la colección desde MongoDB
def download_collection_from_mongodb(uri, db_name, collection_name):
    # Conectar a MongoDB
    client = MongoClient(uri)
    try:
        # Seleccionar la base de datos y la colección
        db = client[db_name]
        collection = db[collection_name]

        # Descargar los datos de la colección
        data = list(collection.find())

        # Convertir los datos a un DataFrame de pandas
        df = pd.DataFrame(data)
    finally:
        # Cerrar la conexión
        client.close()
    
    return df

# Datos de conexión a MongoDB
uri = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"  # Cambia la URL según sea necesario
db_name = "Samoo"  # Cambia 'nombre_de_la_base_de_datos' por el nombre de tu base de datos
collection_name = "collabs"  # Cambia 'nombre_de_la_coleccion' por el nombre de tu colección

# Descargar la colección y convertirla en un DataFrame
dff_collabs = download_collection_from_mongodb(uri, db_name, collection_name)

# Mostrar el Dat.inaFrame
dff_collabs

# Opcional: Guardar el DataFrame en un archivo CSV
# df.to_csv('nombre_del_archivo.csv', index=False)  # Cambia 'nombre_del_archivo.csv' por el nombre deseado

Empty DataFrame
Columns: []
Index: []

In [86]:
"""DESCARGAMOS TABLA EVENTOS"""
from pymongo import MongoClient
# import pandas as pd

# Definir la función para descargar la colección desde MongoDB
def download_collection_from_mongodb(uri, db_name, collection_name):
    # Conectar a MongoDB
    client = MongoClient(uri)
    try:
        # Seleccionar la base de datos y la colección
        db = client[db_name]
        collection = db[collection_name]

        # Descargar los datos de la colección
        data = list(collection.find())

        # Convertir los datos a un DataFrame de pandas
        df = pd.DataFrame(data)
    finally:
        # Cerrar la conexión
        client.close()
    
    return df

# Datos de conexión a MongoDB
uri = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"  # Cambia la URL según sea necesario
db_name = "Samoo"  # Cambia 'nombre_de_la_base_de_datos' por el nombre de tu base de datos
collection_name = "events"  # Cambia 'nombre_de_la_coleccion' por el nombre de tu colección

# Descargar la colección y convertirla en un DataFrame
dff_events = download_collection_from_mongodb(uri, db_name, collection_name)

# Mostrar el Dat.inaFrame
dff_events

# Opcional: Guardar el DataFrame en un archivo CSV
# df.to_csv('nombre_del_archivo.csv', index=False)  # Cambia 'nombre_del_archivo.csv' por el nombre deseado

,_id,speaker_first_name,speaker_surname,speaker_company,desc_event,date,hour,interest,id_supplier,id_user
0,6681d878bfaa0f79a41aceeb,Elena,Martín,Cisco Systems,ACTO DE APERTURA E-LEARNING EXPERIENCE 2024,2024-05-23,10:30,"[E-learning, Educación, Innovación]",6681212c23dc5dfced3d25c9,6681269b23dc5dfced3d25d2
1,6681d878bfaa0f79a41aceec,Juan,Moreno,Tecnología Educativa,TENDENCIAS Y PROSPECTIVA EN E-LEARNING PARA UN...,2024-05-23,10:45,"[E-learning, Tendencias, Educación]",6681212c23dc5dfced3d25bb,6681269b23dc5dfced3d25d3
2,6681d878bfaa0f79a41aceed,Lucia,Sánchez,Campus Virtual,DERRIBEMOS BARRERAS EN LOS EXÁMENES Y CONTENID...,2024-05-23,11:15,"[Educación, STEM, Accesibilidad]",6681212c23dc5dfced3d25c0,6681269b23dc5dfced3d25d4
3,6681d878bfaa0f79a41aceee,Miguel,Alvarez,Aprendizaje Interactivo,OPEN LMS SHOWCASE: LO NUEVO Y LO QUE VIENE,2024-05-23,11:45,"[LMS, Innovación, Tecnología]",6681212c23dc5dfced3d25be,6681269b23dc5dfced3d25d5
4,6681d878bfaa0f79a41aceef,Eva,Verdejo,HP Inc,REDESCUBRIENDO LA EDUCACIÓN. UNA PROPUESTA DE ...,2024-05-23,12:15,"[Educación, Inteligencia Artificial, Datos]",6681212c23dc5dfced3d25c7,6681269b23dc5dfced3d25d6
5,6681d878bfaa0f79a41acef0,Adrian,Sánchez,LG Corporation,CONECTANDO EL APRENDIZAJE: EMPODERAMIENTO Y PR...,2024-05-23,12:45,"[Educación, Formación de Profesores, TIC]",6681212c23dc5dfced3d25cc,6681269b23dc5dfced3d25d7
6,6681d878bfaa0f79a41acef1,David,Hernandez,Educación a Distancia,TRANSFORMANDO LA FORMACIÓN EN EL SECTOR BANCARIO,2024-05-23,13:15,"[Formación, Gamificación, Sector Bancario]",6681212c23dc5dfced3d25bc,6681269b23dc5dfced3d25d8
7,6681d878bfaa0f79a41acef2,Sara,Tornell,IBM,FORMACIÓN CON IMPACTO: LOGRAR RESULTADOS EN UN...,2024-05-23,16:00,"[Formación, Resultados, Cambio]",6681212c23dc5dfced3d25c8,6681269b23dc5dfced3d25d9
8,6681d878bfaa0f79a41acef3,Laura,Tornell,E-learning España,IA GENERATIVA Y CULTURA DE INNOVACIÓN,2024-05-23,16:30,"[IA Generativa, Innovación, Cultura]",6681212c23dc5dfced3d25c3,6681269b23dc5dfced3d25da
9,6681d878bfaa0f79a41acef4,Adrian,Martín,Apple Inc,EL PODER DE LAS EVALUACIONES DIGITALES,2024-05-23,17:00,"[Evaluaciones Digitales, Tecnología, Educación]",6681212c23dc5dfced3d25ce,6681269b23dc5dfced3d25db
10,6681d878bfaa0f79a41acef5,Sara,Alvarez,E-learning España,IMPACTO DEL USO DE LA INTELIGENCIA ARTIFICIAL ...,2024-05-23,18:00,"[Inteligencia Artificial, LMS, Accesibilidad]",6681212c23dc5dfced3d25c3,6681269b23dc5dfced3d25dd
11,6681d878bfaa0f79a41acef6,Marina,Gamarra,Educación Online,TRANSFORMANDO LA EXPERIENCIA DEL USUARIO: EL V...,2024-05-23,18:30,"[Experiencia del Usuario, Campus Virtual, Educ...",6681212c23dc5dfced3d25bf,6681269b23dc5dfced3d25de
12,6681d878bfaa0f79a41acef7,Miguel,Alonso,Sony Corporation,ABRAZANDO LA DIVERSIDAD EN LA IMPLEMENTACIÓN D...,2024-05-23,19:00,"[Diversidad, E-learning, Tecnología]",6681212c23dc5dfced3d25cb,6681269b23dc5dfced3d25df
13,6681d878bfaa0f79a41acef8,Manuel,Martinez,Tecnología Educativa,LOS PILARES DEL ÉXITO DE LA FORMACIÓN ASÍNCRONA,2024-05-23,19:30,"[Formación Asíncrona, Educación, Tecnología]",6681212c23dc5dfced3d25bb,6681269b23dc5dfced3d25e0
14,6681d878bfaa0f79a41acef9,Eva,Alvarez,Educación a Distancia,ECOSISTEMAS DIGITALES: EL PODER DE LAS API Y L...,2024-05-23,12:45,"[Ecosistemas Digitales, API, Inteligencia Arti...",6681212c23dc5dfced3d25bc,6681269b23dc5dfced3d25e1
15,6681d878bfaa0f79a41acefa,Marina,Martinez,IBM,LO QUE NO SE MIDE NO SE PUEDE MEJORAR,2024-05-23,16:00,"[Medición, Mejora, Consultoría]",6681212c23dc5dfced3d25c8,6681269b23dc5dfced3d25e3
16,6681d878bfaa0f79a41acefb,Marina,Sánchez,Huawei Technologies,OPTIMIZANDO PROCESOS: ESTRATEGIAS Y DESAFÍOS E...,2024-05-23,16:30,"[Optimización de Procesos, Moodle, Migración]",6681212c23dc5dfced3d25ca,6681269b23dc5dfced3d25e4
17,6681d878bfaa0f79a41acefc,David,Contreras,IBM,TRANS-FORMACIÓN DE EQUIPOS COMERCIALES: CONVER...,2024-05-23,17:00,"[Formación, Equipos Comerciales, Cambio]",6681212c23dc5dfced3d25c8,6681269b23dc5dfced3d25e5
18,6681d878bfaa0f79a41acefd,Pablo,Martín,Sony Corporation,ACCESIBILIDAD DE CONTENIDOS DIGITALES: ESTRATE...,2024-05-23,17:30,"[Accesibilidad, Contenidos Digitales, Impacto]",6681212c23dc5dfced3d25cb,6681269b23dc5dfced3d25e6
19,6681d878bfaa0f79a41acefe,Manuel,Ruiz,Formación Digital,LA SEMIPRESENCIALIDAD EN ESTUDIOS SUPERIORES: ...,2024-05-23,18:00,"[Semipresencialidad, Estudios Superiores, Tecn...",6681212c23dc5dfced3d25c1,6681269b23dc5dfced3d25e7
20,6681d878bfaa0f79a41aceff,Elena,Romero,Dell Technologies,"CONOCIENDO LVIS, LA PLATAFORMA DE AUTOMATIZACI...",2024-05-23,18:30,"[Automatización, Vídeo, Tecnología]",6681212c23dc5dfced3d25c6,6681269b23dc5dfced3d25e8
21,6681d878bfaa0f79a41acf00,Christian,Moreno,Campus Virtual,¿POR QUÉ ES URGENTE FORMARSE EN INTELIGENCIA A...,2024-05-23,19:00,"[Inteligencia Artificial, Formación, Educación]",6681212c23dc5dfced3d25c0,6681269b23dc5dfced3d25e9
22,6681d878bfaa0f79a41acf01,Jairo,Martín,Plataforma Educativa,MEJORA DE LOS PROCESOS DE DISEÑO Y PRODUCCIÓN ...,2024-05-23,19:30,"[Diseño Multimedia, Producción, Inteligencia A...",6681212c23dc5dfced3d25c2,6681269b23dc5dfced3d25ea

## ACTUALIZAMOS Y CERRAMOS LA TABLA MEETINGS (HAY PARTE POR DEBAJO DE SUPPLIERS)

In [55]:
"""DESCARGAMOS TABLA MEETINGS"""


# Definir la función para descargar la colección desde MongoDB
def download_collection_from_mongodb(uri, db_name, collection_name):
    # Conectar a MongoDB
    client = MongoClient(uri)
    try:
        # Seleccionar la base de datos y la colección
        db = client[db_name]
        collection = db[collection_name]

        # Descargar los datos de la colección
        data = list(collection.find())

        # Convertir los datos a un DataFrame de pandas
        df = pd.DataFrame(data)
    finally:
        # Cerrar la conexión
        client.close()
    
    return df

# Datos de conexión a MongoDB
uri = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"  # Cambia la URL según sea necesario
db_name = "Samoo"  # Cambia 'nombre_de_la_base_de_datos' por el nombre de tu base de datos
collection_name = "meetings"  # Cambia 'nombre_de_la_coleccion' por el nombre de tu colección

# Descargar la colección y convertirla en un DataFrame
dff_meetings = download_collection_from_mongodb(uri, db_name, collection_name)

# Mostrar el Dat.inaFrame
dff_meetings.head()

# Opcional: Guardar el DataFrame en un archivo CSV
# df.to_csv('nombre_del_archivo.csv', index=False)  # Cambia 'nombre_del_archivo.csv' por el nombre deseado

,_id,id_collab,id_user_collab,id_user,date,hour,feedback,table,id_supplier,id_user_supplier,cancel,createdAt,updatedAt,__v
0,1,1.0,283.0,148.0,2024-07-04,09:00,1.0,10.0,NaN,NaN,NaN,NaT,NaT,NaN
1,2,1.0,283.0,183.0,2024-07-04,09:45,4.0,23.0,NaN,NaN,NaN,NaT,NaT,NaN
2,3,1.0,266.0,211.0,2024-07-04,10:30,3.0,2.0,NaN,NaN,NaN,NaT,NaT,NaN
3,4,1.0,294.0,108.0,2024-07-04,11:15,3.0,30.0,NaN,NaN,NaN,NaT,NaT,NaN
4,5,1.0,287.0,131.0,2024-07-04,12:00,5.0,7.0,NaN,NaN,NaN,NaT,NaT,NaN

In [180]:
dff_meetings = dff_meetings.drop(["_id","id_collab","id_user_collab","id_user","feedback","id_supplier","id_user_supplier","cancel","createdAt","updatedAt","__v"],axis=1)

In [181]:
dff_meetings = dff_meetings.iloc[:540,:]
dff_meetings

           date   hour  table
0    2024-07-04  09:00   10.0
1    2024-07-04  09:45   23.0
2    2024-07-04  10:30    2.0
3    2024-07-04  11:15   30.0
4    2024-07-04  12:00    7.0
..          ...    ...    ...
535  2024-07-04  11:15    5.0
536  2024-07-04  12:00   29.0
537  2024-07-04  12:45   24.0
538  2024-07-04  13:30    9.0
539  2024-07-04  14:15    2.0

[540 rows x 3 columns]

In [ ]:
dff_meetings["id_supplier"] = 

import random
# Seleccionar 10 _ids aleatorios de la segunda tabla
ids_aleatorios = random.sample(dff_suppliers['_id'],1)
dff_meetings["id_supplier"] = dff_events.loc[14:,'_id'].tolist()

## ACTUALIZAMOS Y CERRAMOS LA TABLA SUPPLIERS

In [3]:
"""DESCARGAMOS TABLA SUPPLIERS"""


# Definir la función para descargar la colección desde MongoDB
def download_collection_from_mongodb(uri, db_name, collection_name):
    # Conectar a MongoDB
    client = MongoClient(uri)
    try:
        # Seleccionar la base de datos y la colección
        db = client[db_name]
        collection = db[collection_name]

        # Descargar los datos de la colección
        data = list(collection.find())

        # Convertir los datos a un DataFrame de pandas
        df = pd.DataFrame(data)
    finally:
        # Cerrar la conexión
        client.close()
    
    return df

# Datos de conexión a MongoDB
uri = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"  # Cambia la URL según sea necesario
db_name = "Samoo"  # Cambia 'nombre_de_la_base_de_datos' por el nombre de tu base de datos
collection_name = "suppliers"  # Cambia 'nombre_de_la_coleccion' por el nombre de tu colección

# Descargar la colección y convertirla en un DataFrame
dff_suppliers = download_collection_from_mongodb(uri, db_name, collection_name)

# Mostrar el Dat.inaFrame
dff_suppliers

# Opcional: Guardar el DataFrame en un archivo CSV
# df.to_csv('nombre_del_archivo.csv', index=False)  # Cambia 'nombre_del_archivo.csv' por el nombre deseado

,_id,Name,CIF,Street,City,Country,Prefix,Phone,Email,_user_id,...,phone_prefx,phone_number,type_collab,interests,employes,ids_user_supplier,ids_meetings,createdAt,updatedAt,__v
0,6681212c23dc5dfced3d25bb,Tecnología Educativa,Wty88980932,26461 Michael Wall Apt. 809,Madrid,Spain,34.0,535 476 5080,contacto@tecnologiaeducativa.com,"[6681269b23dc5dfced3d25d2, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1,6681212c23dc5dfced3d25bc,Educación a Distancia,Pjh72138923,51623 Wendy Garden,Barcelona,Spain,34.0,245 419 6636,info@educacionadistancia.com,"[6681269b23dc5dfced3d25d3, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2,6681212c23dc5dfced3d25bd,Clases en Línea,hrE60221766,284 Wallace Canyon Apt. 290,Valencia,Spain,34.0,817 242 6964,soporte@clasesenlinea.com,[6681269b23dc5dfced3d260b],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
3,6681212c23dc5dfced3d25be,Aprendizaje Interactivo,Fqk18965674,4023 Romero Grove,Sevilla,Spain,34.0,549 177 5114,info@aprendizajeinteractivo.com,"[6681269b23dc5dfced3d25d4, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
4,6681212c23dc5dfced3d25bf,Educación Online,fOL42178579,9977 Ian Junctions,Zaragoza,Spain,34.0,038 096 2294,contacto@educaciononline.com,"[6681269b23dc5dfced3d25d5, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
5,6681212c23dc5dfced3d25c0,Campus Virtual,Pyh64524100,7596 Christopher Manor Apt. 238,Málaga,Spain,34.0,488 356 3292,info@campusvirtual.com,"[6681269b23dc5dfced3d25d6, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
6,6681212c23dc5dfced3d25c1,Formación Digital,RnF27732590,02568 Jamie Ridges,Bilbao,Spain,34.0,273 571 1776,contacto@formaciondigital.com,"[6681269b23dc5dfced3d25d7, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
7,6681212c23dc5dfced3d25c2,Plataforma Educativa,bjS29986410,6423 Nancy Circle,Alicante,Spain,34.0,882 110 2842,info@plataformaeducativa.com,"[6681269b23dc5dfced3d25d8, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
8,6681212c23dc5dfced3d25c3,E-learning España,tKm39696530,58866 Cook Parks Suite 950,Córdoba,Spain,34.0,401 529 9274,contacto@elearningespana.com,"[6681269b23dc5dfced3d25d9, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
9,6681212c23dc5dfced3d25c4,Aula Virtual,SaB45437744,15748 Sheppard Meadow,Valladolid,Spain,34.0,781 905 2525,info@aulavirtual.com,"[6681269b23dc5dfced3d25da, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
10,6681212c23dc5dfced3d25c5,Adobe Inc,VPO58123960,96967 Megan Junction,Paris,France,33.0,429 247 4041,support@adobe.com,"[6681269b23dc5dfced3d25db, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
11,6681212c23dc5dfced3d25c6,Dell Technologies,KXs63011652,451 Mack Canyon Suite 211,London,United Kingdom,44.0,834 570 0040,info@dell.com,"[6681269b23dc5dfced3d25de, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
12,6681212c23dc5dfced3d25c7,HP Inc,yKb76388350,9668 Flowers Ways Suite 919,Berlin,Germany,49.0,630 526 6252,support@hp.com,"[6681269b23dc5dfced3d25df, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
13,6681212c23dc5dfced3d25c8,IBM,NRV48975374,5712 Alejandra Burgs Suite 666,Rome,Italy,39.0,828 669 0892,info@ibm.com,"[6681269b23dc5dfced3d25e7, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
14,6681212c23dc5dfced3d25c9,Cisco Systems,WcL67234783,9733 Thomas Harbor Apt. 532,Lisbon,Portugal,351.0,570 411 1316,support@cisco.com,"[6681269b23dc5dfced3d25e8, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
15,6681212c23dc5dfced3d25ca,Huawei Technologies,zIZ12193533,2921 Barbara Valley Suite 081,Amsterdam,Netherlands,31.0,080 406 7404,info@huawei.com,"[6681269b23dc5dfced3d25e4, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
16,6681212c23dc5dfced3d25cb,Sony Corporation,iet66040540,6943 Robert Light,Brussels,Belgium,32.0,198 014 9998,support@sony.com,"[6681269b23dc5dfced3d25e2, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
17,6681212c23dc5dfced3d25cc,LG Corporation,ahh25521101,5936 Yvonne Summit,Buenos Aires,Argentina,54.0,945 638 8044,info@lg.com,"[6681269b23dc5dfced3d25eb, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
18,6681212c23dc5dfced3d25cd,Samsung Electronics,dvz85711104,1101 Trevor Roads,Santiago,Chile,56.0,120 408 9127,support@samsung.com,"[6681269b23dc5dfced3d25f0, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
19,6681212c23dc5dfced3d25ce,Apple Inc,zjU25923533,9882 Daniel Course,Mexico City,Mexico,52.0,348 286 6186,support@apple.com,"[6681269b23dc5dfced3d25f2, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
20,66852dfa7ccd9bd08f7ff6c5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.234568e+09,Gold,[Tecnología],23.0,[],[],2024-07-03 10:54:50.628,2024-07-03 10:54:50.628,0.0

In [7]:
dff_suppliers = dff_suppliers.rename(columns={"Name":"company_name"})
dff_suppliers

,_id,company_name,CIF,Street,City,Country,Prefix,Phone,Email,_user_id,...,phone_prefx,phone_number,type_collab,interests,employes,ids_user_supplier,ids_meetings,createdAt,updatedAt,__v
0,6681212c23dc5dfced3d25bb,Tecnología Educativa,Wty88980932,26461 Michael Wall Apt. 809,Madrid,Spain,34.0,535 476 5080,contacto@tecnologiaeducativa.com,"[6681269b23dc5dfced3d25d2, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1,6681212c23dc5dfced3d25bc,Educación a Distancia,Pjh72138923,51623 Wendy Garden,Barcelona,Spain,34.0,245 419 6636,info@educacionadistancia.com,"[6681269b23dc5dfced3d25d3, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2,6681212c23dc5dfced3d25bd,Clases en Línea,hrE60221766,284 Wallace Canyon Apt. 290,Valencia,Spain,34.0,817 242 6964,soporte@clasesenlinea.com,[6681269b23dc5dfced3d260b],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
3,6681212c23dc5dfced3d25be,Aprendizaje Interactivo,Fqk18965674,4023 Romero Grove,Sevilla,Spain,34.0,549 177 5114,info@aprendizajeinteractivo.com,"[6681269b23dc5dfced3d25d4, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
4,6681212c23dc5dfced3d25bf,Educación Online,fOL42178579,9977 Ian Junctions,Zaragoza,Spain,34.0,038 096 2294,contacto@educaciononline.com,"[6681269b23dc5dfced3d25d5, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
5,6681212c23dc5dfced3d25c0,Campus Virtual,Pyh64524100,7596 Christopher Manor Apt. 238,Málaga,Spain,34.0,488 356 3292,info@campusvirtual.com,"[6681269b23dc5dfced3d25d6, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
6,6681212c23dc5dfced3d25c1,Formación Digital,RnF27732590,02568 Jamie Ridges,Bilbao,Spain,34.0,273 571 1776,contacto@formaciondigital.com,"[6681269b23dc5dfced3d25d7, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
7,6681212c23dc5dfced3d25c2,Plataforma Educativa,bjS29986410,6423 Nancy Circle,Alicante,Spain,34.0,882 110 2842,info@plataformaeducativa.com,"[6681269b23dc5dfced3d25d8, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
8,6681212c23dc5dfced3d25c3,E-learning España,tKm39696530,58866 Cook Parks Suite 950,Córdoba,Spain,34.0,401 529 9274,contacto@elearningespana.com,"[6681269b23dc5dfced3d25d9, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
9,6681212c23dc5dfced3d25c4,Aula Virtual,SaB45437744,15748 Sheppard Meadow,Valladolid,Spain,34.0,781 905 2525,info@aulavirtual.com,"[6681269b23dc5dfced3d25da, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
10,6681212c23dc5dfced3d25c5,Adobe Inc,VPO58123960,96967 Megan Junction,Paris,France,33.0,429 247 4041,support@adobe.com,"[6681269b23dc5dfced3d25db, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
11,6681212c23dc5dfced3d25c6,Dell Technologies,KXs63011652,451 Mack Canyon Suite 211,London,United Kingdom,44.0,834 570 0040,info@dell.com,"[6681269b23dc5dfced3d25de, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
12,6681212c23dc5dfced3d25c7,HP Inc,yKb76388350,9668 Flowers Ways Suite 919,Berlin,Germany,49.0,630 526 6252,support@hp.com,"[6681269b23dc5dfced3d25df, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
13,6681212c23dc5dfced3d25c8,IBM,NRV48975374,5712 Alejandra Burgs Suite 666,Rome,Italy,39.0,828 669 0892,info@ibm.com,"[6681269b23dc5dfced3d25e7, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
14,6681212c23dc5dfced3d25c9,Cisco Systems,WcL67234783,9733 Thomas Harbor Apt. 532,Lisbon,Portugal,351.0,570 411 1316,support@cisco.com,"[6681269b23dc5dfced3d25e8, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
15,6681212c23dc5dfced3d25ca,Huawei Technologies,zIZ12193533,2921 Barbara Valley Suite 081,Amsterdam,Netherlands,31.0,080 406 7404,info@huawei.com,"[6681269b23dc5dfced3d25e4, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
16,6681212c23dc5dfced3d25cb,Sony Corporation,iet66040540,6943 Robert Light,Brussels,Belgium,32.0,198 014 9998,support@sony.com,"[6681269b23dc5dfced3d25e2, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
17,6681212c23dc5dfced3d25cc,LG Corporation,ahh25521101,5936 Yvonne Summit,Buenos Aires,Argentina,54.0,945 638 8044,info@lg.com,"[6681269b23dc5dfced3d25eb, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
18,6681212c23dc5dfced3d25cd,Samsung Electronics,dvz85711104,1101 Trevor Roads,Santiago,Chile,56.0,120 408 9127,support@samsung.com,"[6681269b23dc5dfced3d25f0, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
19,6681212c23dc5dfced3d25ce,Apple Inc,zjU25923533,9882 Daniel Course,Mexico City,Mexico,52.0,348 286 6186,support@apple.com,"[6681269b23dc5dfced3d25f2, 6681269b23dc5dfced3...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
20,66852dfa7ccd9bd08f7ff6c5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.234568e+09,Gold,[Tecnología],23.0,[],[],2024-07-03 10:54:50.628,2024-07-03 10:54:50.628,0.0

In [9]:
dff_suppliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                21 non-null     object
 1   company_name       20 non-null     object
 2   CIF                20 non-null     object
 3   Street             20 non-null     object
 4   City               20 non-null     object
 5   Country            20 non-null     object
 6   Prefix             20 non-null     float64
 7   Phone              20 non-null     object
 8   email              20 non-null     object
 9   _user_id           20 non-null     object
 10  tokens             21 non-null     object
 11  avatar_url         21 non-null     object
 12  cif                1 non-null      object
 13  company_name       20 non-null     object
 14  password           1 non-null      object
 15  address_contact    1 non-null      object
 16  country            1 non-null      object
 17  email              1 non-null      object
 18  phone_prefx        1 non-null      float64
 19  phone_number       1 non-null      float64
 20  type_collab        1 non-null      object
 21  interests          1 non-null      object
 22  employes           1 non-null      float64
 23  ids_user_supplier  1 non-null      object
 24  ids_meetings       1 non-null      object
 25  createdAt          1 non-null      datetime64[ns]
 26  updatedAt          1 non-null      datetime64[ns]
 27  __v                1 non-null      float64
dtypes: datetime64[ns](2), float64(5), object(21)
memory usage: 4.7+ KB

In [17]:
dff_suppliers = dff_suppliers.rename(columns={"Email":"email","CIF":"cif",})
dff_suppliers = dff_suppliers.iloc[:,:12]
dff_suppliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           21 non-null     object
 1   company_name  20 non-null     object
 2   cif           20 non-null     object
 3   Street        20 non-null     object
 4   City          20 non-null     object
 5   Country       20 non-null     object
 6   Prefix        20 non-null     float64
 7   Phone         20 non-null     object
 8   email         20 non-null     object
 9   _user_id      20 non-null     object
 10  tokens        21 non-null     object
 11  avatar_url    21 non-null     object
dtypes: float64(1), object(11)
memory usage: 2.1+ KB

In [20]:
import random

values = ["Silver", "Gold", "Platinum"]

# Generar una lista de 20 valores aleatorios
random_values = [random.choice(values) for _ in range(20)]

# Crear un DataFrame con la columna generada
df = pd.DataFrame({'Category': random_values})

# Mostrar el DataFrame
print(df)

    Category
0   Platinum
1   Platinum
2     Silver
3     Silver
4     Silver
5     Silver
6       Gold
7   Platinum
8       Gold
9   Platinum
10      Gold
11  Platinum
12    Silver
13  Platinum
14      Gold
15    Silver
16      Gold
17    Silver
18  Platinum
19  Platinum

In [24]:
dff_suppliers["type_collab"] = df
dff_suppliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           21 non-null     object
 1   company_name  20 non-null     object
 2   cif           20 non-null     object
 3   Street        20 non-null     object
 4   City          20 non-null     object
 5   Country       20 non-null     object
 6   Prefix        20 non-null     float64
 7   Phone         20 non-null     object
 8   email         20 non-null     object
 9   _user_id      20 non-null     object
 10  tokens        21 non-null     object
 11  avatar_url    21 non-null     object
 12  type_collab   20 non-null     object
dtypes: float64(1), object(12)
memory usage: 2.3+ KB

In [25]:
"""BORRADO Y ACTUALIZACION DE LA TABLA SUPPLIERS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["suppliers"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = dff_suppliers.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

In [307]:
# dff_meetings["id_supplier"] = 

import random
# Seleccionar 10 _ids aleatorios de la segunda tabla
for i in range(len(dff_meetings)):
    ids_aleatorios = random.choice(dff_suppliers['_id'].to_list())
    dff_meetings.loc[i,"id_supplier"] = ids_aleatorios

dff_meetings

,date,hour,table,id_supplier,id_user_supplier,id_user
0,2024-07-04,09:00,10.0,6681212c23dc5dfced3d25cc,6681269b23dc5dfced3d260d,[6681269b23dc5dfced3d263a]
1,2024-07-04,09:45,23.0,6681212c23dc5dfced3d25cb,6681269b23dc5dfced3d2600,[6681269b23dc5dfced3d26c3]
2,2024-07-04,10:30,2.0,6681212c23dc5dfced3d25c6,6681269b23dc5dfced3d25ef,[6681269b23dc5dfced3d2666]
3,2024-07-04,11:15,30.0,6681212c23dc5dfced3d25ca,6681269b23dc5dfced3d25d4,[6681269b23dc5dfced3d2651]
4,2024-07-04,12:00,7.0,6681212c23dc5dfced3d25cd,6681269b23dc5dfced3d25e4,[6681269b23dc5dfced3d26a3]
...,...,...,...,...,...,...
535,2024-07-04,11:15,5.0,6681212c23dc5dfced3d25be,6681269b23dc5dfced3d25e8,[6681269b23dc5dfced3d26ed]
536,2024-07-04,12:00,29.0,6681212c23dc5dfced3d25bc,6681269b23dc5dfced3d25d2,[6681269b23dc5dfced3d2691]
537,2024-07-04,12:45,24.0,6681212c23dc5dfced3d25c6,6681269b23dc5dfced3d25f9,[6681269b23dc5dfced3d266f]
538,2024-07-04,13:30,9.0,6681212c23dc5dfced3d25c4,6681269b23dc5dfced3d2605,[6681269b23dc5dfced3d26d2]
539,2024-07-04,14:15,2.0,6681212c23dc5dfced3d25bf,6681269b23dc5dfced3d2603,[6681269b23dc5dfced3d260f]

In [ ]:
dfff_users = dff_users.iloc[:60,:]
dfff_users

In [308]:
for i in range(len(dff_meetings)):
    ids_aleatorios = random.choice(dff_users['_id'].to_list())
    dff_meetings.loc[i,"id_user"] = ids_aleatorios

dff_meetings

,date,hour,table,id_supplier,id_user_supplier,id_user
0,2024-07-04,09:00,10.0,6681212c23dc5dfced3d25cc,6681269b23dc5dfced3d260d,6681269b23dc5dfced3d265b
1,2024-07-04,09:45,23.0,6681212c23dc5dfced3d25cb,6681269b23dc5dfced3d2600,6681269b23dc5dfced3d266e
2,2024-07-04,10:30,2.0,6681212c23dc5dfced3d25c6,6681269b23dc5dfced3d25ef,6681269b23dc5dfced3d2668
3,2024-07-04,11:15,30.0,6681212c23dc5dfced3d25ca,6681269b23dc5dfced3d25d4,6681269b23dc5dfced3d2693
4,2024-07-04,12:00,7.0,6681212c23dc5dfced3d25cd,6681269b23dc5dfced3d25e4,6681269b23dc5dfced3d265a
...,...,...,...,...,...,...
535,2024-07-04,11:15,5.0,6681212c23dc5dfced3d25be,6681269b23dc5dfced3d25e8,6681269b23dc5dfced3d265a
536,2024-07-04,12:00,29.0,6681212c23dc5dfced3d25bc,6681269b23dc5dfced3d25d2,6681269b23dc5dfced3d2669
537,2024-07-04,12:45,24.0,6681212c23dc5dfced3d25c6,6681269b23dc5dfced3d25f9,6681269b23dc5dfced3d26b0
538,2024-07-04,13:30,9.0,6681212c23dc5dfced3d25c4,6681269b23dc5dfced3d2605,6681269b23dc5dfced3d2609
539,2024-07-04,14:15,2.0,6681212c23dc5dfced3d25bf,6681269b23dc5dfced3d2603,6681269b23dc5dfced3d260c

In [309]:
"""BORRADO Y ACTUALIZACION DE LA TABLA MEETINGS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["meetings"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = dff_meetings.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

In [267]:
dff_users_61 = dff_users.iloc[61:,:]
dff_users_61

,_id,name,surname,email,password,company,id_supplier
61,6681269b23dc5dfced3d260f,Alejandro,Gamarra,alejandro.gamarra@edupro.com,H]LFU{Xg,EduPro,NaN
62,6681269b23dc5dfced3d2610,Pablo,Moreno,pablo.moreno@techlearn.com,"4k""|x""fi",Tech Learn,NaN
63,6681269b23dc5dfced3d2611,Adrian,Verdejo,adrian.verdejo@futurelearn.com,"!SV7v,OC",Future Learn,NaN
64,6681269b23dc5dfced3d2612,Lucia,Hernandez,lucia.hernandez@knowledgesource.com,r-fm<spU,KnowledgeSource,NaN
65,6681269b23dc5dfced3d2613,Adrian,Noguera,adrian.noguera@smarteducation.com,EgFPvz&k,Smart Education,NaN
...,...,...,...,...,...,...,...
295,6681269b23dc5dfced3d26f9,Juan,Tornell,juan.tornell@proedu.com,oep|5IJ@,ProEdu,NaN
296,6681269b23dc5dfced3d26fa,Christian,Martinez,christian.martinez@learnify.com,v=CgA$0Q,Learnify,NaN
297,6681269b23dc5dfced3d26fb,Miguel,Rodrguez,miguel.rodrguez@teched.com,2#4Mo8C:,TechEd,NaN
298,6681269b23dc5dfced3d26fc,Christian,Hernandez,christian.hernandez@innovativelearning.com,nqS/TOZ-,Innovative Learning,NaN
299,6681269b23dc5dfced3d26fd,Adrian,Rodrguez,adrian.rodrguez@innovativelearning.com,L0\;mRN&,Innovative Learning,NaN

In [269]:
dff_users = dff_users.drop(["id_supplier"], axis=1)

In [270]:
dff_users= pd.merge(dff_users,dff_suppliers, left_on="company", right_on="Name", how="inner" )
dff_users.head()

,_id_x,name,surname,email,password,company,_id_y,Name,CIF,Street,City,Country,Prefix,Phone,Email,_user_id,tokens,avatar_url
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,Cisco Systems,WcL67234783,9733 Thomas Harbor Apt. 532,Lisbon,Portugal,351,570 411 1316,support@cisco.com,"[6681269b23dc5dfced3d25e8, 6681269b23dc5dfced3...",,
1,6681269b23dc5dfced3d25d3,Juan,Moreno,juan.moreno@tecnologíaeducativa.com,AbVoNDo^,Tecnología Educativa,6681212c23dc5dfced3d25bb,Tecnología Educativa,Wty88980932,26461 Michael Wall Apt. 809,Madrid,Spain,34,535 476 5080,contacto@tecnologiaeducativa.com,"[6681269b23dc5dfced3d25d2, 6681269b23dc5dfced3...",,
2,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,Campus Virtual,Pyh64524100,7596 Christopher Manor Apt. 238,Málaga,Spain,34,488 356 3292,info@campusvirtual.com,"[6681269b23dc5dfced3d25d6, 6681269b23dc5dfced3...",,
3,6681269b23dc5dfced3d25d5,Miguel,Alvarez,miguel.alvarez@aprendizajeinteractivo.com,"""=D9g(%;",Aprendizaje Interactivo,6681212c23dc5dfced3d25be,Aprendizaje Interactivo,Fqk18965674,4023 Romero Grove,Sevilla,Spain,34,549 177 5114,info@aprendizajeinteractivo.com,"[6681269b23dc5dfced3d25d4, 6681269b23dc5dfced3...",,
4,6681269b23dc5dfced3d25d6,Eva,Verdejo,eva.verdejo@hpinc.com,a<hrt8OY,HP Inc,6681212c23dc5dfced3d25c7,HP Inc,yKb76388350,9668 Flowers Ways Suite 919,Berlin,Germany,49,630 526 6252,support@hp.com,"[6681269b23dc5dfced3d25df, 6681269b23dc5dfced3...",,

In [271]:
dff_users = dff_users.rename(columns = {"_id_x":"_id"})

In [ ]:

dff_users["id_supplier"] = dff_users["_id_y"]
dff_users

In [273]:
dff_users = dff_users.rename(columns = {"_id_y":"id_supplier"})
dff_users.head()

,_id,name,surname,email,password,company,id_supplier,Name,CIF,Street,City,Country,Prefix,Phone,Email,_user_id,tokens,avatar_url,id_supplier
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,Cisco Systems,WcL67234783,9733 Thomas Harbor Apt. 532,Lisbon,Portugal,351,570 411 1316,support@cisco.com,"[6681269b23dc5dfced3d25e8, 6681269b23dc5dfced3...",,,6681212c23dc5dfced3d25c9
1,6681269b23dc5dfced3d25d3,Juan,Moreno,juan.moreno@tecnologíaeducativa.com,AbVoNDo^,Tecnología Educativa,6681212c23dc5dfced3d25bb,Tecnología Educativa,Wty88980932,26461 Michael Wall Apt. 809,Madrid,Spain,34,535 476 5080,contacto@tecnologiaeducativa.com,"[6681269b23dc5dfced3d25d2, 6681269b23dc5dfced3...",,,6681212c23dc5dfced3d25bb
2,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,Campus Virtual,Pyh64524100,7596 Christopher Manor Apt. 238,Málaga,Spain,34,488 356 3292,info@campusvirtual.com,"[6681269b23dc5dfced3d25d6, 6681269b23dc5dfced3...",,,6681212c23dc5dfced3d25c0
3,6681269b23dc5dfced3d25d5,Miguel,Alvarez,miguel.alvarez@aprendizajeinteractivo.com,"""=D9g(%;",Aprendizaje Interactivo,6681212c23dc5dfced3d25be,Aprendizaje Interactivo,Fqk18965674,4023 Romero Grove,Sevilla,Spain,34,549 177 5114,info@aprendizajeinteractivo.com,"[6681269b23dc5dfced3d25d4, 6681269b23dc5dfced3...",,,6681212c23dc5dfced3d25be
4,6681269b23dc5dfced3d25d6,Eva,Verdejo,eva.verdejo@hpinc.com,a<hrt8OY,HP Inc,6681212c23dc5dfced3d25c7,HP Inc,yKb76388350,9668 Flowers Ways Suite 919,Berlin,Germany,49,630 526 6252,support@hp.com,"[6681269b23dc5dfced3d25df, 6681269b23dc5dfced3...",,,6681212c23dc5dfced3d25c7

In [289]:
dff_users = dff_users.iloc[:,:7]
dff_users

,_id,name,surname,email,password,company,id_supplier
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9
1,6681269b23dc5dfced3d25d3,Juan,Moreno,juan.moreno@tecnologíaeducativa.com,AbVoNDo^,Tecnología Educativa,6681212c23dc5dfced3d25bb
2,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0
3,6681269b23dc5dfced3d25d5,Miguel,Alvarez,miguel.alvarez@aprendizajeinteractivo.com,"""=D9g(%;",Aprendizaje Interactivo,6681212c23dc5dfced3d25be
4,6681269b23dc5dfced3d25d6,Eva,Verdejo,eva.verdejo@hpinc.com,a<hrt8OY,HP Inc,6681212c23dc5dfced3d25c7
...,...,...,...,...,...,...,...
296,6681269b23dc5dfced3d26fa,Christian,Martinez,christian.martinez@learnify.com,v=CgA$0Q,Learnify,NaN
297,6681269b23dc5dfced3d26fb,Miguel,Rodrguez,miguel.rodrguez@teched.com,2#4Mo8C:,TechEd,NaN
298,6681269b23dc5dfced3d26fc,Christian,Hernandez,christian.hernandez@innovativelearning.com,nqS/TOZ-,Innovative Learning,NaN
299,6681269b23dc5dfced3d26fd,Adrian,Rodrguez,adrian.rodrguez@innovativelearning.com,L0\;mRN&,Innovative Learning,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [290]:
dff_users = pd.concat([dff_users, dff_users_61])
dff_users

,_id,name,surname,email,password,company,id_supplier
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9
1,6681269b23dc5dfced3d25d3,Juan,Moreno,juan.moreno@tecnologíaeducativa.com,AbVoNDo^,Tecnología Educativa,6681212c23dc5dfced3d25bb
2,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0
3,6681269b23dc5dfced3d25d5,Miguel,Alvarez,miguel.alvarez@aprendizajeinteractivo.com,"""=D9g(%;",Aprendizaje Interactivo,6681212c23dc5dfced3d25be
4,6681269b23dc5dfced3d25d6,Eva,Verdejo,eva.verdejo@hpinc.com,a<hrt8OY,HP Inc,6681212c23dc5dfced3d25c7
...,...,...,...,...,...,...,...
295,6681269b23dc5dfced3d26f9,Juan,Tornell,juan.tornell@proedu.com,oep|5IJ@,ProEdu,NaN
296,6681269b23dc5dfced3d26fa,Christian,Martinez,christian.martinez@learnify.com,v=CgA$0Q,Learnify,NaN
297,6681269b23dc5dfced3d26fb,Miguel,Rodrguez,miguel.rodrguez@teched.com,2#4Mo8C:,TechEd,NaN
298,6681269b23dc5dfced3d26fc,Christian,Hernandez,christian.hernandez@innovativelearning.com,nqS/TOZ-,Innovative Learning,NaN
299,6681269b23dc5dfced3d26fd,Adrian,Rodrguez,adrian.rodrguez@innovativelearning.com,L0\;mRN&,Innovative Learning,NaN

In [291]:
dff_users[["tokens", "url_linkedin","completed","avatar_url"]] = ""
dff_users

,_id,name,surname,email,password,company,id_supplier,tokens,url_linkedin,completed,avatar_url
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,,,,
1,6681269b23dc5dfced3d25d3,Juan,Moreno,juan.moreno@tecnologíaeducativa.com,AbVoNDo^,Tecnología Educativa,6681212c23dc5dfced3d25bb,,,,
2,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,,,,
3,6681269b23dc5dfced3d25d5,Miguel,Alvarez,miguel.alvarez@aprendizajeinteractivo.com,"""=D9g(%;",Aprendizaje Interactivo,6681212c23dc5dfced3d25be,,,,
4,6681269b23dc5dfced3d25d6,Eva,Verdejo,eva.verdejo@hpinc.com,a<hrt8OY,HP Inc,6681212c23dc5dfced3d25c7,,,,
...,...,...,...,...,...,...,...,...,...,...,...
295,6681269b23dc5dfced3d26f9,Juan,Tornell,juan.tornell@proedu.com,oep|5IJ@,ProEdu,NaN,,,,
296,6681269b23dc5dfced3d26fa,Christian,Martinez,christian.martinez@learnify.com,v=CgA$0Q,Learnify,NaN,,,,
297,6681269b23dc5dfced3d26fb,Miguel,Rodrguez,miguel.rodrguez@teched.com,2#4Mo8C:,TechEd,NaN,,,,
298,6681269b23dc5dfced3d26fc,Christian,Hernandez,christian.hernandez@innovativelearning.com,nqS/TOZ-,Innovative Learning,NaN,,,,
299,6681269b23dc5dfced3d26fd,Adrian,Rodrguez,adrian.rodrguez@innovativelearning.com,L0\;mRN&,Innovative Learning,NaN,,,,

In [ ]:
alergias = ["Gluten","Lácteos","Huevos","Frutos secos","Moluscos"]
food_preferences = ["Vegetariano","Vegano","Carnívoro"]
intereses = ["Tecnología","Gestión de Proyectos","Agile","Softskills","Marketing Digital","Negocios","Emprendimiento","Educación","Formación","Salud y Bienestar","Creatividad","Diseño"]

GENERAMOS LAS COLUMNAS DE ALERGIAS, PREFERENCIAS ALIMENTICIAS, INTERESES Y POSICIÓN

In [282]:
import pandas as pd
import random

# Listas proporcionadas
alergias = ["Gluten", "Lácteos", "Huevos", "Frutos secos", "Moluscos"]
food_preferences = ["Vegetariano", "Vegano", "Carnívoro"]
intereses = ["Tecnología", "Gestión de Proyectos", "Agile", "Softskills", "Marketing Digital", "Negocios", "Emprendimiento", "Educación", "Formación", "Salud y Bienestar", "Creatividad", "Diseño"]
Posición = [
    "Desarrollador de Contenidos", "Instructor / Formador", "Coordinador de Cursos", 
    "Administrador de Plataforma", "Especialista en Evaluación", "Diseñador Instruccional", 
    "Director de Formación", "Consultor de E-learning", "Gestor de Proyectos", 
    "Desarrollador de E-learning", "Investigador en E-learning", "Especialista en Soporte Técnico", 
    "Gestor de Comunidad", "Responsable de Calidad", "Director de Tecnología", 
    "Analista de Datos Educativos", "Especialista en Marketing de E-learning", 
    "Facilitador de Talleres", "Asesor Pedagógico", "Director de Innovación"
]

# Función para generar la columna de alergias
def generate_allergies():
    if random.random() < 0.01:  # 1% de probabilidad de tener 2 alergias
        return random.sample(alergias, 2)
    elif random.random() < 0.5:  # 50% de probabilidad de tener 1 alergia
        return random.sample(alergias, 1)
    else:
        return []

# Función para generar la columna de food_preferences
def generate_food_preference():
    return random.choice(food_preferences)

# Función para generar la columna de intereses
def generate_interests():
    return random.sample(intereses, random.randint(3, 5))

# Crear el DataFrame con las 4 columnas y 300 filas
df = pd.DataFrame({
    'Posición': [random.choice(Posición) for _ in range(300)],
    'Alergias': [generate_allergies() for _ in range(300)],
    'Food Preferences': [generate_food_preference() for _ in range(300)],
    'Intereses': [generate_interests() for _ in range(300)]
})

df

,Posición,Alergias,Food Preferences,Intereses
0,Especialista en Marketing de E-learning,[Frutos secos],Vegano,"[Marketing Digital, Formación, Agile]"
1,Investigador en E-learning,[],Vegano,"[Tecnología, Softskills, Educación]"
2,Asesor Pedagógico,[Huevos],Vegano,"[Educación, Tecnología, Diseño, Marketing Digi..."
3,Especialista en Evaluación,[],Vegano,"[Negocios, Agile, Emprendimiento]"
4,Desarrollador de E-learning,[Lácteos],Carnívoro,"[Agile, Marketing Digital, Softskills, Formaci..."
...,...,...,...,...
295,Desarrollador de E-learning,[Gluten],Carnívoro,"[Tecnología, Emprendimiento, Educación, Softsk..."
296,Director de Innovación,[Frutos secos],Vegetariano,"[Negocios, Tecnología, Agile]"
297,Facilitador de Talleres,[Huevos],Vegano,"[Agile, Emprendimiento, Negocios, Softskills, ..."
298,Coordinador de Cursos,[Lácteos],Vegetariano,"[Gestión de Proyectos, Marketing Digital, Empr..."
299,Director de Formación,[],Vegano,"[Tecnología, Marketing Digital, Educación, Neg..."

In [292]:
dff_users = pd.concat([dff_users, df], axis = 1)

In [294]:
dff_users = dff_users.rename(columns={"Posición":"position","Alergias":"allergies","Food Preferences":"food_prefences","Intereses":"interests"})
dff_users

,_id,name,surname,email,password,company,id_supplier,tokens,url_linkedin,completed,avatar_url,position,allergies,food_prefences,interests
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,,,,,Especialista en Marketing de E-learning,[Frutos secos],Vegano,"[Marketing Digital, Formación, Agile]"
1,6681269b23dc5dfced3d25d3,Juan,Moreno,juan.moreno@tecnologíaeducativa.com,AbVoNDo^,Tecnología Educativa,6681212c23dc5dfced3d25bb,,,,,Investigador en E-learning,[],Vegano,"[Tecnología, Softskills, Educación]"
2,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,,,,,Asesor Pedagógico,[Huevos],Vegano,"[Educación, Tecnología, Diseño, Marketing Digi..."
3,6681269b23dc5dfced3d25d5,Miguel,Alvarez,miguel.alvarez@aprendizajeinteractivo.com,"""=D9g(%;",Aprendizaje Interactivo,6681212c23dc5dfced3d25be,,,,,Especialista en Evaluación,[],Vegano,"[Negocios, Agile, Emprendimiento]"
4,6681269b23dc5dfced3d25d6,Eva,Verdejo,eva.verdejo@hpinc.com,a<hrt8OY,HP Inc,6681212c23dc5dfced3d25c7,,,,,Desarrollador de E-learning,[Lácteos],Carnívoro,"[Agile, Marketing Digital, Softskills, Formaci..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,6681269b23dc5dfced3d26f9,Juan,Tornell,juan.tornell@proedu.com,oep|5IJ@,ProEdu,NaN,,,,,Desarrollador de E-learning,[Gluten],Carnívoro,"[Tecnología, Emprendimiento, Educación, Softsk..."
296,6681269b23dc5dfced3d26fa,Christian,Martinez,christian.martinez@learnify.com,v=CgA$0Q,Learnify,NaN,,,,,Director de Innovación,[Frutos secos],Vegetariano,"[Negocios, Tecnología, Agile]"
297,6681269b23dc5dfced3d26fb,Miguel,Rodrguez,miguel.rodrguez@teched.com,2#4Mo8C:,TechEd,NaN,,,,,Facilitador de Talleres,[Huevos],Vegano,"[Agile, Emprendimiento, Negocios, Softskills, ..."
298,6681269b23dc5dfced3d26fc,Christian,Hernandez,christian.hernandez@innovativelearning.com,nqS/TOZ-,Innovative Learning,NaN,,,,,Coordinador de Cursos,[Lácteos],Vegetariano,"[Gestión de Proyectos, Marketing Digital, Empr..."
299,6681269b23dc5dfced3d26fd,Adrian,Rodrguez,adrian.rodrguez@innovativelearning.com,L0\;mRN&,Innovative Learning,NaN,,,,,Director de Formación,[],Vegano,"[Tecnología, Marketing Digital, Educación, Neg..."

In [316]:
dff_users_test= pd.merge(dff_users,dff_meetings, left_on="_id", right_on="id_user", how="inner" )
dff_users_test.head()

,_id,name,surname,email,password,company,id_supplier_x,tokens,url_linkedin,completed,...,position,allergies,food_prefences,interests,date,hour,table,id_supplier_y,id_user_supplier,id_user
0,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,,,,...,Especialista en Marketing de E-learning,[Frutos secos],Vegano,"[Marketing Digital, Formación, Agile]",2024-07-05,09:45,1.0,6681212c23dc5dfced3d25bd,6681269b23dc5dfced3d25d6,6681269b23dc5dfced3d25d2
1,6681269b23dc5dfced3d25d2,Elena,Martín,elena.martín@ciscosystems.com,&AlLl%sO,Cisco Systems,6681212c23dc5dfced3d25c9,,,,...,Especialista en Marketing de E-learning,[Frutos secos],Vegano,"[Marketing Digital, Formación, Agile]",2024-07-05,12:00,29.0,6681212c23dc5dfced3d25c0,6681269b23dc5dfced3d25fc,6681269b23dc5dfced3d25d2
2,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,,,,...,Asesor Pedagógico,[Huevos],Vegano,"[Educación, Tecnología, Diseño, Marketing Digi...",2024-07-04,10:30,15.0,6681212c23dc5dfced3d25ca,6681269b23dc5dfced3d2605,6681269b23dc5dfced3d25d4
3,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,,,,...,Asesor Pedagógico,[Huevos],Vegano,"[Educación, Tecnología, Diseño, Marketing Digi...",2024-07-04,12:00,16.0,6681212c23dc5dfced3d25cc,6681269b23dc5dfced3d260a,6681269b23dc5dfced3d25d4
4,6681269b23dc5dfced3d25d4,Lucia,Sánchez,lucia.sánchez@campusvirtual.com,>TtFgL@#,Campus Virtual,6681212c23dc5dfced3d25c0,,,,...,Asesor Pedagógico,[Huevos],Vegano,"[Educación, Tecnología, Diseño, Marketing Digi...",2024-07-05,11:15,18.0,6681212c23dc5dfced3d25cc,6681269b23dc5dfced3d25ff,6681269b23dc5dfced3d25d4

In [13]:
""" BASE DE DATOS USERS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["users"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = dff_users.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión

Datos insertados exitosamente

## ACTUALIZAMOS Y CERRAMOS LA TABLA PLACES

In [159]:
"""DESCARGAMOS TABLA PLACES"""


# Definir la función para descargar la colección desde MongoDB
def download_collection_from_mongodb(uri, db_name, collection_name):
    # Conectar a MongoDB
    client = MongoClient(uri)
    try:
        # Seleccionar la base de datos y la colección
        db = client[db_name]
        collection = db[collection_name]

        # Descargar los datos de la colección
        data = list(collection.find())

        # Convertir los datos a un DataFrame de pandas
        df = pd.DataFrame(data)
    finally:
        # Cerrar la conexión
        client.close()
    
    return df

# Datos de conexión a MongoDB
uri = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"  # Cambia la URL según sea necesario
db_name = "Samoo"  # Cambia 'nombre_de_la_base_de_datos' por el nombre de tu base de datos
collection_name = "places"  # Cambia 'nombre_de_la_coleccion' por el nombre de tu colección

# Descargar la colección y convertirla en un DataFrame
dff_places = download_collection_from_mongodb(uri, db_name, collection_name)

# Mostrar el Dat.inaFrame
dff_places
# Opcional: Guardar el DataFrame en un archivo CSV
# df.to_csv('nombre_del_archivo.csv', index=False)  # Cambia 'nombre_del_archivo.csv' por el nombre deseado

                        _id                     place_name  capacity
0  6681ec3a23dc5dfced3d279f  Sala Principal-La Font Blanca       150
1  6681ec3a23dc5dfced3d27a0     Sala Workshops-La Alcazaba        80

In [167]:
import random
# Seleccionar 10 _ids aleatorios de la segunda tabla
ids_aleatorios = random.sample(dff_events.loc[0:14,'_id'].tolist(), 8)

In [174]:
# Crear la nueva columna "id_users" con la lista de ids aleatorios en cada celda
dff_places['events'][1] = dff_events.loc[14:,'_id'].tolist()

C:\Users\Victor\AppData\Local\Temp\ipykernel_18256\2136850551.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dff_places['events'][1] = dff_events.loc[14:,'_id'].tolist()
C:\Users\Victor\AppData\Local\Temp\ipykernel_18256\2136850551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff_places['events'][1] = dff_events.loc[14:,'_id'].tolist()

In [175]:
dff_places["avatar_url"] = ""
dff_places

,_id,place_name,capacity,events,avatar_url
0,6681ec3a23dc5dfced3d279f,Sala Principal-La Font Blanca,150,"[6681d878bfaa0f79a41acef6, 6681d878bfaa0f79a41...",
1,6681ec3a23dc5dfced3d27a0,Sala Workshops-La Alcazaba,80,"[6681d878bfaa0f79a41acef9, 6681d878bfaa0f79a41...",

In [176]:
"""BORRADO Y ACTUALIZACION DE LA TABLA PLACES"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["places"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = dff_places.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

# ACTUALIZAMOS Y CERRAMOS LA TABLA EVENTS

In [ ]:
dff_events = dff_events.rename(columns={"id_user":"id_supplier_user"})
dff_events

In [ ]:
dff_events.loc[0:10,"id_users"] = dff_users.loc[dff_users.loc[0:150,"_id"].index,"_id"].to_list()
dff_events

In [ ]:
dff_events["id_users"] = dff_users.loc[dff_users.loc[0:50,"_id"].index]

In [ ]:
import random
# Seleccionar 10 _ids aleatorios de la segunda tabla
ids_aleatorios = random.sample(dff_users['_id'].tolist(), 150)

# Crear la nueva columna "id_users" con la lista de ids aleatorios en cada celda
dff_events['id_users'] = [ids_aleatorios] * len(dff_events)

dff_events

In [100]:
#no funciona

# sala1 = []
# sala2 = []
# for i in dff_users.loc[50:200,"_id"]:
#     sala1.append(i)

# for j in dff_users.loc[0:50,"_id"]:
#     sala2.append(j)

In [ ]:
for i in dff_events.loc[0:10,"id_users"]:
    i = dff_users.loc[dff_users.loc[0:50,"_id"].index] #no funciona
dff_events

In [ ]:
dff_events.loc[:,"id_users"] = sala1 #no funciona

In [ ]:
dff_events[["confirmed","canceled","score_avg","score_array","avatar_url"]] = ""
dff_events

In [136]:
"""BORRADO Y ACTUALIZACION DE LA TABLA EVENTS"""


# URL del repositorio de MongoDB
mongo_url = "mongodb+srv://Cluster78620:uuMda3E0UnvIPzdi@cluster786∫20.jcfu9lt.mongodb.net"

# Conectar al cliente de MongoDB
client = MongoClient(mongo_url)

# Seleccionar la base de datos y la colección
db = client["Samoo"]
collection = db["events"]

# Supongamos que ya tienes un dataframe llamado df
# df = pd.read_csv("tu_archivo.csv")  # Ejemplo de cómo cargar un dataframe

# Convertir el dataframe a una lista de diccionarios
data = dff_events.to_dict(orient="records")

# Eliminar todos los documentos existentes en la colección     OJOOOoooooOoOOOOOOOOOOOOOOOOOO , esta linead borra BD
collection.delete_many({})

# Insertar los datos en la colección
collection.insert_many(data)

print("Datos insertados exitosamente")

# Cerrar la conexión
client.close()

Datos insertados exitosamente

In [138]:
dff_events

,_id,speaker_first_name,speaker_surname,speaker_company,desc_event,date,hour,interest,id_supplier,id_supplier_user,id_place,id_users,confirmed,canceled,score_avg,score_array,avatar_url
0,6681d878bfaa0f79a41aceeb,Elena,Martín,Cisco Systems,ACTO DE APERTURA E-LEARNING EXPERIENCE 2024,2024-05-23,10:30,"[E-learning, Educación, Innovación]",6681212c23dc5dfced3d25c9,6681269b23dc5dfced3d25d2,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
1,6681d878bfaa0f79a41aceec,Juan,Moreno,Tecnología Educativa,TENDENCIAS Y PROSPECTIVA EN E-LEARNING PARA UN...,2024-05-23,10:45,"[E-learning, Tendencias, Educación]",6681212c23dc5dfced3d25bb,6681269b23dc5dfced3d25d3,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
2,6681d878bfaa0f79a41aceed,Lucia,Sánchez,Campus Virtual,DERRIBEMOS BARRERAS EN LOS EXÁMENES Y CONTENID...,2024-05-23,11:15,"[Educación, STEM, Accesibilidad]",6681212c23dc5dfced3d25c0,6681269b23dc5dfced3d25d4,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
3,6681d878bfaa0f79a41aceee,Miguel,Alvarez,Aprendizaje Interactivo,OPEN LMS SHOWCASE: LO NUEVO Y LO QUE VIENE,2024-05-23,11:45,"[LMS, Innovación, Tecnología]",6681212c23dc5dfced3d25be,6681269b23dc5dfced3d25d5,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
4,6681d878bfaa0f79a41aceef,Eva,Verdejo,HP Inc,REDESCUBRIENDO LA EDUCACIÓN. UNA PROPUESTA DE ...,2024-05-23,12:15,"[Educación, Inteligencia Artificial, Datos]",6681212c23dc5dfced3d25c7,6681269b23dc5dfced3d25d6,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
5,6681d878bfaa0f79a41acef0,Adrian,Sánchez,LG Corporation,CONECTANDO EL APRENDIZAJE: EMPODERAMIENTO Y PR...,2024-05-23,12:45,"[Educación, Formación de Profesores, TIC]",6681212c23dc5dfced3d25cc,6681269b23dc5dfced3d25d7,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
6,6681d878bfaa0f79a41acef1,David,Hernandez,Educación a Distancia,TRANSFORMANDO LA FORMACIÓN EN EL SECTOR BANCARIO,2024-05-23,13:15,"[Formación, Gamificación, Sector Bancario]",6681212c23dc5dfced3d25bc,6681269b23dc5dfced3d25d8,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
7,6681d878bfaa0f79a41acef2,Sara,Tornell,IBM,FORMACIÓN CON IMPACTO: LOGRAR RESULTADOS EN UN...,2024-05-23,16:00,"[Formación, Resultados, Cambio]",6681212c23dc5dfced3d25c8,6681269b23dc5dfced3d25d9,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
8,6681d878bfaa0f79a41acef3,Laura,Tornell,E-learning España,IA GENERATIVA Y CULTURA DE INNOVACIÓN,2024-05-23,16:30,"[IA Generativa, Innovación, Cultura]",6681212c23dc5dfced3d25c3,6681269b23dc5dfced3d25da,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
9,6681d878bfaa0f79a41acef4,Adrian,Martín,Apple Inc,EL PODER DE LAS EVALUACIONES DIGITALES,2024-05-23,17:00,"[Evaluaciones Digitales, Tecnología, Educación]",6681212c23dc5dfced3d25ce,6681269b23dc5dfced3d25db,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
10,6681d878bfaa0f79a41acef5,Sara,Alvarez,E-learning España,IMPACTO DEL USO DE LA INTELIGENCIA ARTIFICIAL ...,2024-05-23,18:00,"[Inteligencia Artificial, LMS, Accesibilidad]",6681212c23dc5dfced3d25c3,6681269b23dc5dfced3d25dd,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
11,6681d878bfaa0f79a41acef6,Marina,Gamarra,Educación Online,TRANSFORMANDO LA EXPERIENCIA DEL USUARIO: EL V...,2024-05-23,18:30,"[Experiencia del Usuario, Campus Virtual, Educ...",6681212c23dc5dfced3d25bf,6681269b23dc5dfced3d25de,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
12,6681d878bfaa0f79a41acef7,Miguel,Alonso,Sony Corporation,ABRAZANDO LA DIVERSIDAD EN LA IMPLEMENTACIÓN D...,2024-05-23,19:00,"[Diversidad, E-learning, Tecnología]",6681212c23dc5dfced3d25cb,6681269b23dc5dfced3d25df,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
13,6681d878bfaa0f79a41acef8,Manuel,Martinez,Tecnología Educativa,LOS PILARES DEL ÉXITO DE LA FORMACIÓN ASÍNCRONA,2024-05-23,19:30,"[Formación Asíncrona, Educación, Tecnología]",6681212c23dc5dfced3d25bb,6681269b23dc5dfced3d25e0,66817e7223dc5dfced3d2707,"[6681269b23dc5dfced3d2646, 6681269b23dc5dfced3...",,,,,
14,6681d878bfaa0f79a41acef9,Eva,Alvarez,Educación a Distancia,ECOSISTEMAS DIGITALES: EL PODER DE LAS API Y L...,2024-05-23,12:45,"[Ecosistemas Digitales, API, Inteligencia Arti...",6681212c23dc5dfced3d25bc,6681269b23dc5dfced3d25e1,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
15,6681d878bfaa0f79a41acefa,Marina,Martinez,IBM,LO QUE NO SE MIDE NO SE PUEDE MEJORAR,2024-05-23,16:00,"[Medición, Mejora, Consultoría]",6681212c23dc5dfced3d25c8,6681269b23dc5dfced3d25e3,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
16,6681d878bfaa0f79a41acefb,Marina,Sánchez,Huawei Technologies,OPTIMIZANDO PROCESOS: ESTRATEGIAS Y DESAFÍOS E...,2024-05-23,16:30,"[Optimización de Procesos, Moodle, Migración]",6681212c23dc5dfced3d25ca,6681269b23dc5dfced3d25e4,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
17,6681d878bfaa0f79a41acefc,David,Contreras,IBM,TRANS-FORMACIÓN DE EQUIPOS COMERCIALES: CONVER...,2024-05-23,17:00,"[Formación, Equipos Comerciales, Cambio]",6681212c23dc5dfced3d25c8,6681269b23dc5dfced3d25e5,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
18,6681d878bfaa0f79a41acefd,Pablo,Martín,Sony Corporation,ACCESIBILIDAD DE CONTENIDOS DIGITALES: ESTRATE...,2024-05-23,17:30,"[Accesibilidad, Contenidos Digitales, Impacto]",6681212c23dc5dfced3d25cb,6681269b23dc5dfced3d25e6,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
19,6681d878bfaa0f79a41acefe,Manuel,Ruiz,Formación Digital,LA SEMIPRESENCIALIDAD EN ESTUDIOS SUPERIORES: ...,2024-05-23,18:00,"[Semipresencialidad, Estudios Superiores, Tecn...",6681212c23dc5dfced3d25c1,6681269b23dc5dfced3d25e7,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
20,6681d878bfaa0f79a41aceff,Elena,Romero,Dell Technologies,"CONOCIENDO LVIS, LA PLATAFORMA DE AUTOMATIZACI...",2024-05-23,18:30,"[Automatización, Vídeo, Tecnología]",6681212c23dc5dfced3d25c6,6681269b23dc5dfced3d25e8,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
21,6681d878bfaa0f79a41acf00,Christian,Moreno,Campus Virtual,¿POR QUÉ ES URGENTE FORMARSE EN INTELIGENCIA A...,2024-05-23,19:00,"[Inteligencia Artificial, Formación, Educación]",6681212c23dc5dfced3d25c0,6681269b23dc5dfced3d25e9,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,
22,6681d878bfaa0f79a41acf01,Jairo,Martín,Plataforma Educativa,MEJORA DE LOS PROCESOS DE DISEÑO Y PRODUCCIÓN ...,2024-05-23,19:30,"[Diseño Multimedia, Producción, Inteligencia A...",6681212c23dc5dfced3d25c2,6681269b23dc5dfced3d25ea,66817e7223dc5dfced3d2706,"[6681269b23dc5dfced3d26b5, 6681269b23dc5dfced3...",,,,,